<main class="main" id="top">
  <div class="container-fluid bg-body-tertiary dark__bg-gray-1200">
    <div class="bg-holder bg-auth-card-overlay" style="background-image:url(../../../assets/img/bg/37.png);"></div>
    <!--/.bg-holder-->
    <div class="row flex-center position-relative min-vh-100 g-0 py-5">
      <div class="col-sm-4">
        <div class="card border border-translucent auth-card">
          <div class="card-body">
            <div class="row align-items-center gx-0 gy-7">
              <div class="col mx-auto">
                <div class="auth-form-box">
                  <div class="text-center mb-5"><a class="d-flex flex-center text-decoration-none mb-4"
                      href="../../../index.html">
                      <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img
                          src="../../../assets/img/icons/logo.png" alt="phoenix" width="58" /></div>
                    </a>
                    <h3 class="text-body-highlight">Đăng nhập</h3>
                    <p class="text-body-tertiary">Đăng nhập tài khoản của bạn</p>
                  </div><button class="btn btn-phoenix-secondary w-100 mb-3"><span
                      class="fab fa-google text-danger me-2 fs-9"></span>Đăng nhập bằng google</button><button
                    class="btn btn-phoenix-secondary w-100"><span
                      class="fab fa-facebook text-primary me-2 fs-9"></span>Đăng nhập bằng facebook</button>
                  <div class="position-relative">
                    <hr class="bg-body-secondary mt-5 mb-4" />
                    <div class="divider-content-center bg-body-emphasis">hoặc</div>
                  </div>
                  <div class="mb-3 text-start"><label class="form-label" for="email">Email</label>
                    <div class="form-icon-container"><input class="form-control form-icon-input" id="email" type="email"
                        placeholder="name@example.com" /><span class="fas fa-user text-body fs-9 form-icon"></span>
                    </div>
                  </div>
                  <div class="mb-3 text-start"><label class="form-label" for="password">Mật khẩu</label>
                    <div class="form-icon-container"><input class="form-control form-icon-input" id="password"
                        type="password" placeholder="Mật khẩu" /><span
                        class="fas fa-key text-body fs-9 form-icon"></span></div>
                  </div>
                  <div class="row flex-between-center mb-7">
                    <div class="col-auto">
                      <div class="form-check mb-0"><input class="form-check-input" id="basic-checkbox" type="checkbox"
                          checked="checked" /><label class="form-check-label mb-0" for="basic-checkbox">Lưu tài khoản</label></div>
                    </div>
                    <div class="col-auto"><a class="fs-9 fw-semibold" href="forgot-password.html">Quên mật khẩu?</a>
                    </div>
                  </div><button class="btn btn-primary w-100 mb-3">Đăng nhập</button>
                  <div class="text-center">
                    <a class="fs-9 fw-bold">Đăng ký tài khoản</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
