<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a [routerLink]="['/admin']">Trang chủ</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/admin/product']">Quản lý sản phẩm</a></li>
    <li class="breadcrumb-item active">{{ titleString }}</li>
  </ol>
</nav>
<div class="mb-9">
  <div class="row g-3 flex-between-end mb-5">
    <div class="col-auto">
      <h2 class="mb-2">Chi tiết sản phẩm</h2>
    </div>
    <div class="col-auto">
      <a class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0" type="button" [routerLink]="['/admin/product']">
        Quay lại
      </a>
      <a class="btn btn-primary mb-2 mb-sm-0" type="submit" href="/admin/product/save/{{product?.id}}">
        Cập nhật
      </a>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-12 col-xl-8">
      <div class="row mb-5">
        <div class="col-sm-3">
          <div class="d-flex flex-wrap mb-2 justify-content-around">
            <h4 class="mb-0 text-body-highlight me-2">Ảnh thu nhỏ</h4>
          </div>
          <div class="d-flex align-items-end position-relative justify-content-around">
            <div class="hoverbox" style="width: 150px; height: 150px">
              <div class="position-relative bg-body-emphasis rounded-circle cursor-pointer d-flex flex-center mb-xxl-7">
                <div class="avatar avatar-5xl">
                  <img class="rounded-circle" [src]="Environment.apiBaseUrl + '/images/' + product?.thumbnail"
                    alt="ảnh sản phẩm" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="mb-5">
            <h4 class="mb-3">Tên sản phẩm</h4>
            <div class="form-control">{{ product?.name }}</div>
          </div>
          <div class="mb-5">
            <h4 class="mb-3">Slug</h4>
            <div class="form-control">{{ product?.slug }}</div>
          </div>
        </div>
      </div>
      <div class="mb-5">
        <h4 class="mb-3">Danh sách hình ảnh</h4>
        <div class="dz-preview d-flex flex-wrap">
          <div *ngFor="let image of product?.images"
            class="border border-translucent bg-body-emphasis rounded-3 d-flex flex-center position-relative me-2 mb-2"
            style="height:100px;width:100px;">
            <img class="w-100 h-auto rounded-1 object-fit-contain" src="{{Environment.apiBaseUrl}}/images/{{image}}"
              alt="" style="max-width: 100%; max-height: 100%;">
          </div>
        </div>
      </div>
      <div class="mb-5">
        <h4 class="mb-3">Phân loại</h4>
        <div class="row g-5">
          <div class="col-12 col-xl-12">
            <div class="px-4 bg-body-emphasis border border-translucent position-relative top-1">
              <div class="table-responsive scrollbar-overlay mx-n1 px-1">
                <table class="table table-sm fs-9 mb-0">
                  <thead>
                    <tr>
                      <th class="sort align-middle pe-5 text-center pb-3 pt-3" scope="col" style="width:5%;">
                          STT
                      </th>
                      <th class="sort align-middle pe-5 text-start pb-3 pt-3" scope="col" style="width:45%;" nowrap>
                        MÀU SẮC
                      </th>
                      <th class="sort align-middle pe-0 ps-0 text-start pb-3 pt-3 text-center" scope="col" style="width:20%;" nowrap>
                        KÍCH CỠ
                      </th>
                      <th class="sort align-middle pe-0 ps-0 text-start pb-3 pt-3 text-center" scope="col" style="width:20%;" nowrap>
                        SỐ LƯỢNG
                      </th>
                    </tr>
                  </thead>
                  <tbody class="list" *ngIf="product?.productColors?.length > 0">
                    <ng-container *ngFor="let color of product?.productColors; let i = index">
                      <ng-container *ngIf="color.productDetails.length > 0">
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static ps-3 pe-3" *ngFor="let size of color.productDetails; let j = index">
                          <ng-container *ngIf="j === 0">
                            <td [attr.rowspan]="color.productDetails.length" class="align-middle white-space-nowrap pe-5">
                              <p class="mb-0 text-truncate text-center pb-3 pt-3">{{ i + 1 }}</p>
                            </td>
                            <td [attr.rowspan]="color.productDetails.length" class="align-middle white-space-nowrap pe-5">
                              <p class="mb-0 text-truncate text-start pb-3 pt-3">{{ color.color }}</p>
                            </td>
                          </ng-container>
                          <td class="align-middle white-space-nowrap pe-0 ps-0 text-center">
                            <p class="mb-0 text-truncate">{{ size.size || 'N/A' }}</p>
                          </td>
                          <td class="align-middle white-space-nowrap pe-0 ps-0 text-center">
                            <p class="mb-0 text-truncate" [ngClass]="{'text-danger': size.quantity === 0, 'text-success': size.size !== 0}">{{ size.quantity }}</p>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                    <tr class="text-end">
                      <td class="align-middle white-space-nowrap pe-5 text-end fw-bold pb-3 pt-3">
                        <p class="mb-0 text-truncate fs-8">Hiện có: </p>
                      </td><td></td><td></td>
                      <td class="align-middle white-space-nowrap pe-0 ps-0 text-center fw-bold text-success pb-3 pt-3">
                        <p class="mb-0 text-truncate fs-8">{{ product?.totalQuantity }}</p>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="product?.productColors?.length == 0">
                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                      <td colspan="8" class="fs-9 align-middle ps-0 py-3 text-center">
                        <span>Không có bản ghi nào</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 description">
        <h4 class="mb-3">Mô tả sản phẩm</h4>
        <div [innerHTML]="getHtmlProductDescription()"></div>
      </div>
    </div>
    <div class="col-12 col-xl-4">
      <div class="row g-2">
        <div class="col-12 col-xl-12">
          <div class="card mb-3">
            <div class="card-body">
              <h4 class="card-title mb-4">Thuộc tính</h4>
              <div class="row gx-3">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">Danh mục</h5>
                    </div>
                    <div class="form-control">{{ product?.categoryName }}</div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">Thương hiệu</h5>
                    </div>
                    <div class="form-control">{{ product?.brandName }}</div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">Giá bán</h5>
                    </div>
                    <div class="form-control">{{ product?.price | currency:'VND':true:'1.0-0' }}</div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">Ngày tạo</h5>
                    </div>
                    <div class="form-control">{{ product?.createdAt | date: 'dd/MM/yyyy - HH:mm:ss' }}</div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">Cập nhật cuối</h5>
                    </div>
                    <div class="form-control">{{ product?.updatedAt | date: 'dd/MM/yyyy - HH:mm:ss' }}</div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" disabled [checked]="product?.enabled" />
                    <label class="form-check-label">Cho phép hiển thị</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>