<div class="top-header-wrapper" style="background: #000;">
  <div class="container-small">
    <div class="top-header">
      <div class="header-txt left-hdr fs-9 text-color-white">
        <span>Hotline:&nbsp;(097) 609 6251</span>
      </div>
      <div class="header-social right-hdr text-end fs-9 text-color-white" *ngIf="!isLogin || isTokenExpired">
        <a class="me-2" style="color: #fff;" [routerLink]="['/login']">Đăng nhập</a>
        <span>|</span>
        <a style="color: #fff;" [routerLink]="['/register']">Đăng ký</a>
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown"
          data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
          <div class="header-social right-hdr text-end fs-9 text-color-white" *ngIf="isLogin && !isTokenExpired">
            <span>{{email}}</span>
            <span class="fa fa-angle-down ms-2 fs-10"></span>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border mt-2"
          aria-labelledby="navbarDropdownUser" style="min-width: 12.3125rem !important;">
          <div class="card position-relative border-0">
            <div class="overflow-auto scrollbar">
              <ul class="nav d-flex flex-column mb-2 pb-1 mt-2">
                <li class="nav-item" *ngIf="isAdmin">
                  <a class="nav-link px-3" href="/admin">
                    <span class="me-2 text-body" data-feather="shield"></span><span>Trang quản trị</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-3" href="/profile">
                    <span class="me-2 text-body" data-feather="user"></span><span>Cá nhân</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-3" href="/order">
                    <span class="me-2 text-body" data-feather="package"></span><span>Đơn hàng</span></a>
                </li>
                <li class="nav-item">
                  <span class="nav-link px-3" type="button" data-bs-toggle="modal" data-bs-target="#tooltipModal">
                    <span class="me-2 text-body" data-feather="key"></span>
                    <span>Đổi mật khẩu</span>
                  </span>
                </li>
                <li class="nav-item">
                  <span class="nav-link px-3" (click)="logout()">
                    <span class="me-2 text-body" data-feather="log-out"></span>
                    <span>Đăng xuất</span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0" style="border-bottom: 1px solid #cfcfcf; padding-top: 0.7rem !important; padding-bottom: 0.7rem !important;">
  <div class="container-small">
    <div class="ecommerce-topbar">
      <nav class="navbar navbar-expand-lg navbar-light px-0">
        <div class="row gx-0 gy-2 w-100 flex-between-center">
          <div class="col-auto d-lg-none d-md-none">
              <button class="btn text-body ps-0 pe-0 text-nowrap dropdown-toggle dropdown-caret-none"
                data-category-btn="data-category-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft">
                <span class="fal fa-bars me-2 fs-7 fw-normal"></span>
              </button>
              <div class="offcanvas offcanvas-start" style="width: 70%;" id="offcanvasLeft" tabindex="-1" aria-labelledby="offcanvasLeftLabel">
                <div class="offcanvas-header">
                  <h5 id="offcanvasLeftLabel" class="text-uppercase">Danh mục sản phẩm</h5><button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body hover-item">
                  <div class="nav-item pt-2 pb-2 cursor-pointer" data-nav-item="data-nav-item" *ngFor="let item of categories">
                    <a class="nav-link pe-3 ps-3 fw-semibold text-uppercase" style="color: black;" href="/product?category={{item?.slug}}">{{item?.name}}</a>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-auto">
            <a class="text-decoration-none" href="../../../index.html">
              <div class="d-flex align-items-center">
                <img src="../../../assets/img/icons/logonew.png" alt="Shoes Station"
                  width="45" />
                <p class="logo-text ms-2" style="color: black;">Shoes Station</p>
              </div>
            </a></div>
          <div class="col-auto order-md-1">
            <ul class="navbar-nav navbar-nav-icons flex-row me-n2">
              <li class="nav-item">
                <a class="nav-link px-1 me-lg-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" role="button">
                  <span class="text-body-tertiary" data-feather="search" style="height:20px;width:20px;"></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-2 icon-indicator icon-indicator-dark me-2" [routerLink]="['/cart']" role="button">
                  <span class="text-body-tertiary" data-feather="shopping-cart" style="height:20px;width:20px;"></span>
                  <span class="icon-indicator-number">{{totalProductInCart}}</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <ul class="navbar-nav justify-content-center align-items-center">
              <li class="nav-item hover-item" data-nav-item="data-nav-item" *ngFor="let item of categories.slice(0, 5)">
                <a class="nav-link pe-3 ps-3 fw-semibold text-uppercase" style="color: black;" href="/product?category={{item?.slug}}">{{item?.name}}</a>
              </li>
              <li class="nav-item dropdown" data-nav-item="data-nav-item" data-more-item="data-more-item" *ngIf="categories.length > 5">
                <a class="nav-link dropdown-toggle dropdown-caret-none fw-semibold pe-3 ps-3 text-uppercase" style="color: black;" href="javascript: void(0)"
                  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-boundary="window"
                  data-bs-reference="parent"> Khác
                  <span class="fas fa-angle-down ms-2"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end category-list" aria-labelledby="navbarDropdown">
                  <li class="nav-item hover-item" data-nav-item="data-nav-item" *ngFor="let item of categories.slice(5)">
                    <a class="nav-link pe-3 ps-3 fw-semibold text-uppercase" style="color: black;" href="/product?category={{item?.slug}}">{{item?.name}}</a>
                  </li>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->
<div class="modal fade" id="tooltipModal" tabindex="-1" aria-labelledby="tooltipModalLabel" style="display: none;"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tooltipModalLabel">Đổi mật khẩu</h5><button class="btn p-1" type="button"
          data-bs-dismiss="modal" aria-label="Close" (click)="resetText()">
          <span class="fas fa-times fs-9"></span>
        </button>
      </div>
      <form [formGroup]="changePasswordForm" (submit)="onChangePassword()">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Mật khẩu cũ</label><span class="text-danger">
              *</span>
            <input spellcheck="false" class="form-control" type="password" #oldPassword placeholder="Mật khẩu cũ"
              [ngClass]="{'border-danger': (changePasswordForm['controls']['oldPassword'].errors?.['required']) && changePasswordForm['controls']['oldPassword'].dirty}"
              formControlName="oldPassword" />
            <div class="label-error mt-1" *ngIf="changePasswordForm['controls']['oldPassword'].dirty">
              <div *ngIf="changePasswordForm.get('oldPassword')?.hasError('required')" class="text-danger">
                <small>Trường bắt buộc.</small>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Mật khẩu mới</label>
            <span class="text-danger"> *</span>
            <input class="form-control" spellcheck="false" type="password" #newPassword placeholder="Mật khẩu mới"
              [ngClass]="{'border-danger': (changePasswordForm.get('newPassword')?.hasError('maxlength')
          || changePasswordForm['controls']['newPassword'].errors?.['required']
          || changePasswordForm['controls']['newPassword'].errors?.['pattern']) && changePasswordForm['controls']['newPassword'].dirty}"
              formControlName="newPassword" />
            <div class="label-error mt-1" *ngIf="changePasswordForm['controls']['newPassword'].dirty">
              <span *ngIf="changePasswordForm['controls']['newPassword'].errors?.['required']">
                <small>Trường bắt buộc.</small>
              </span>
              <div *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')" class="text-danger">
                <small>Mật khẩu phải có ít nhật 6 ký tự.</small>
              </div>
              <div *ngIf="changePasswordForm.get('newPassword')?.hasError('maxlength')" class="text-danger">
                <small>Mật khẩu không được vượt quá 30 ký tự.</small>
              </div>
            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" (change)="togglePassword()" />
            <label class="form-check-label">Hiện mật khẩu</label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" [disabled]="changePasswordForm.invalid" #btnSave>Cập
            nhật</button>
          <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal" #btnCloseModal
            (click)="resetText()">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-top" style="height: fit-content;" id="offcanvasTop" tabindex="-1" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasTopLabel">Tìm kiếm sản phẩm</h5><button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="col-12 col-md-12">

      <!-- thanh tìm kiếm -->
      <div class="search-box navbar-top-search-box d-lg-block w-100"
        style="width:25rem;">
        <form class="position-relative" data-bs-toggle="search" data-bs-display="static" (submit)="onSearch()">
          <input class="form-control search-input fuzzy-search rounded-pill form-control-sm" name="search"
            autocomplete="off" (keyup)="searchProduct($event)" type="search" placeholder="Tìm kiếm..."
            aria-label="Search" [(ngModel)]="search" spellcheck="false" />
          <span class="fas fa-search search-box-icon"></span>
        </form>
        <div class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none"
          data-bs-dismiss="search" (click)="resetSearch()">
          <button class="btn btn-link p-0" aria-label="Close"></button>
        </div>
        <div>
          <div *ngIf="recentSearches.length !== 0 || search !== ''">
            <div class="scrollbar-overlay" style="max-height: 30rem;">
              <div class="list pb-1">
                <div *ngIf="searchIndex !== 0 && search !== ''" class="mt-2">
                  <h6 class="fw-normal dropdown-header text-body-highlight fs-9 py-2">
                    {{products.length}}
                    <span class="fw-normal">kết quả</span>
                  </h6>
                </div>
                <div *ngIf="searchIndex === 0 || search === ''">
                  <div class="py-2">
                    <div class="mt-2" *ngFor="let searchItem of recentSearches">
                      <div class="d-flex justify-content-between align-self-center">
                        <a class="dropdown-item" href="/product?search={{searchItem.value}}">
                          <div class="d-flex align-items-center align-self-center">
                            <div class="fw-normal text-body-highlight title">
                              <span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span>
                              <span class="fs-9" style="margin-left: 0.76rem !important;">{{searchItem.value}}</span>
                            </div>
                          </div>
                        </a>
                        <div class="d-flex align-items-center text-danger" style="margin-right: 0.75rem !important;">
                          <button class="btn p-0 fs-9" (click)="removeRecentSearch(searchItem)">
                            <i class="fas fa-trash-alt text-danger"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="products && products?.length !== 0">
                  <div class="py-2">
                    <a *ngFor="let item of products" class="dropdown-item py-2 d-flex align-items-center"
                      href="/product/{{item.slug}}">
                      <div class="file-thumbnail me-2">
                        <img class="h-100 w-100 fit-cover rounded-3" src="{{baseUrl}}/images/{{item.thumbnail}}"
                          alt="" />
                      </div>
                      <div class="flex-1">
                        <h6 class="mb-0 text-body-highlight title">{{item.name}}</h6>
                        <p class="fs-10 mb-0 mt-1 d-flex text-body-tertiary">
                          <span class="fw-medium text-body-tertiary text-opactity-85">
                            <div>
                              <div *ngIf="item.saleId !== null">
                                <span
                                  class="me-2 text-body text-decoration-line-through mb-1 fs-10">{{item.price |
                                  currencyFormat:'VND' }}</span>
                                <span class="mb-0 text-danger-dark fw-bold fs-9">{{item.salePrice |
                                  currencyFormat:'VND'}}</span>
                              </div>
                              <div *ngIf="item.saleId === null">
                                <span class="fw-semibold fs-10">{{item.price | currencyFormat:'VND' }}</span>
                              </div>
                              <div class="d-flex align-items-end mb-1 mt-1 text-end">
                                <p class="text-body-tertiary fw-semibold fs-10 lh-1 mb-0">{{item.countColor}}
                                  màu
                                  sắc</p>
                              </div>
                            </div>
                          </span>
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="text-center mb-3" *ngIf="products.length === 0 && searchIndex !== 0 && search !== ''">
                <div class="col-12 col-lg-12 text-center">
                  <div>
                    <img src="../../../../assets/empty_product.svg" alt="" width="100px">
                    <h4 class="fw-normal fs-9">Không tìm thấy sản phẩm nào</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>