<div class="row gy-3 mb-4 justify-content-between">
  <div class="col-xxl-6">
    <h2 class="mb-2 text-body-emphasis">Tổng quan Shoes Station</h2>
    <h5 class="text-body-tertiary fw-semibold mb-4">
      Kiểm tra sự phát triển kinh doanh của bạn
    </h5>
    <div class="row align-items-center g-4 mb-5">
      <div class="col-12 col-md-auto curser-pointer"  [routerLink]="['/admin/order']">
        <div class="d-flex align-items-center">
          <span class="fa-stack" style="min-height: 46px;min-width: 46px;">
            <span class="fas fa-square fa-stack-2x dark__text-opacity-50 text-success-light"
              data-fa-transform="down-4 rotate--10 left-4"></span>
            <span class="fas fa-circle fa-stack-2x stack-circle text-stats-circle-success"
              data-fa-transform="up-4 right-3 grow-2"></span>
            <span class="fa-stack-1x fas fa-star text-success " data-fa-transform="shrink-2 up-8 right-6"></span>
          </span>
          <div class="ms-3">
            <h4 class="mb-0">{{orderToday}} đơn hàng mới</h4>
            <p class="text-body-secondary fs-9 mb-0">Trong ngày</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-auto curser-pointer" [routerLink]="['/admin/order']">
        <div class="d-flex align-items-center">
          <span class="fa-stack" style="min-height: 46px;min-width: 46px;">
            <span class="fas fa-square fa-stack-2x dark__text-opacity-50 text-warning-light"
              data-fa-transform="down-4 rotate--10 left-4"></span>
            <span class="fas fa-circle fa-stack-2x stack-circle text-stats-circle-warning"
              data-fa-transform="up-4 right-3 grow-2"></span>
            <span class="fa-stack-1x fas fa-pause text-warning "
              data-fa-transform="shrink-2 up-8 right-6"></span></span>
          <div class="ms-3">
            <h4 class="mb-0">{{orderPending}} đơn hàng</h4>
            <p class="text-body-secondary fs-9 mb-0">Chưa xử lý</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-auto curser-pointer" [routerLink]="['/admin/product']">
        <div class="d-flex align-items-center">
          <span class="fa-stack" style="min-height: 46px;min-width: 46px;">
            <span class="fas fa-square fa-stack-2x dark__text-opacity-50 text-danger-light"
              data-fa-transform="down-4 rotate--10 left-4"></span>
            <span class="fas fa-circle fa-stack-2x stack-circle text-stats-circle-danger"
              data-fa-transform="up-4 right-3 grow-2"></span>
            <span class="fa-stack-1x fas fa-times text-danger " data-fa-transform="shrink-2 up-8 right-6"></span>
          </span>
          <div class="ms-3">
            <h4 class="mb-0">{{outOfStock}} sản phẩm</h4>
            <p class="text-body-secondary fs-9 mb-0">Hết hàng</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-4">
        <div class="card shadow-none border" data-component-card="data-component-card">
          <div class="card-body">
            <h4>Danh mục</h4>
            <p class="text-body-tertiary fs-9">Sản phẩm đã bán</p>
            <canvas id="pieChartCategory">{{ pieChartCategory }}</canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-4">
        <div class="card shadow-none border" data-component-card="data-component-card">
          <div class="card-body">
            <h4>Thương hiệu</h4>
            <p class="text-body-tertiary fs-9">Sản phẩm đã bán</p>
            <canvas id="pieChartBrand">{{ pieChartBrand }}</canvas>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-6 col-xxl-4 gy-5 gy-md-3 ps-3">
        <div class="border-bottom border-translucent">
          <div class="row">
            <div class="col-12 col-sm-7 align-self-center">
              <h4>Top 5 sản phẩm bán chạy</h4>
              <span class="fs-9">Theo tháng</span>
            </div>
            <div class="col-12 col-sm-5">
              <input class="form-control" type="month" [value]="yearNow + '-' + monthNow" (input)="changeDateBestSeller($event)">
            </div>
          </div>
          <table class="table fs-9 mb-0">
            <thead>
              <tr>
                <th class="white-space-nowrap fs-9 align-middle ps-0" style="width: 8%;">
                  TOP
                </th>
                <th class="sort white-space-nowrap align-middle fs-10" scope="col" style="width:4%;"></th>
                <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:63%;">
                  TÊN SẢN PHẨM
                </th>
                <th class="sort align-middle text-end ps-4" scope="col" style="width:25%;" nowrap>
                  ĐÃ BÁN
                </th>
              </tr>
            </thead>
            <tbody class="list" id="products-table-body">
              <tr class="position-static" *ngFor="let product of bestSeller let i = index">
                <td class="fs-9 align-middle">
                  # <span class="fw-bold">{{i + 1}}</span>
                </td>
                <td class="align-middle white-space-nowrap py-0">
                  <a class="d-block border border-translucent rounded-2">
                    <img src="{{baseUrl}}/images/{{product.thumbnail}}" alt="" width="36" height="36"
                      style="object-fit: contain;" />
                  </a>
                </td>
                <td class="align-middle ps-4 text-truncate">
                  <a class="fw-semibold line-clamp-3 mb-0" href="/admin/product/{{product.id}}">{{product.name}}</a>
                </td>
                <td class="align-middle white-space-nowrap text-end fw-bold text-success ps-4">
                  {{ product.quantitySold }}</td>
              </tr>
            </tbody>
            <tbody *ngIf="bestSeller?.length == 0">
              <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                <td colspan="8" class="fs-9 align-middle ps-0 py-3 text-center">
                  <span>Không có bản ghi nào</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-xxl-6 mb-5 mt-5">
    <div class="row align-items-start justify-content-between mb-4 g-3">
      <div class="col-auto">
        <h4>Doanh thu - Chi phí</h4>
        <span class="text-body-tertiary lh-sm mb-0 fs-9">
          Theo năm
        </span>
      </div>
      <div class="col-12 col-sm-4">
        <input class="form-control" type="month" [value]="yearNow + '-' + monthNow">
      </div>
    </div>
    <div>
      <div>
        <canvas id="lineChart">{{ lineChart }}</canvas>
      </div>
    </div>
  </div>
</div>