<main class="main" id="top">
  <div class="container-fluid bg-body-tertiary dark__bg-gray-1200">
    <div class="bg-holder bg-auth-card-overlay" style="background-image:url(../../../assets/img/bg/37.png);"></div>
    <!--/.bg-holder-->
    <div class="row flex-center position-relative min-vh-100 g-0 py-5">
      <div class="col-sm-4">
        <div class="card border border-translucent auth-card">
          <div class="card-body pe-md-0">
            <div class="row align-items-center gx-0 gy-7">
              <div class="col mx-auto">
                <div class="auth-form-box">
                  <div class="text-center"><a class="d-flex flex-center text-decoration-none mb-4"
                      href="../../../index.html">
                      <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img
                          src="../../../assets/img/icons/logo.png" alt="phoenix" width="58" /></div>
                    </a>
                    <h4 class="text-body-highlight">Enter the verification code</h4>
                    <p class="text-body-tertiary mb-0">An email containing a 6-digit verification code has been sent to
                      the email address - exa*********.com </p>
                    <P class="fs-10 mb-5">Don’t have access? <a href="#!">Use another method</a></P>
                    <form class="verification-form" data-2FA-varification="data-2FA-varification">
                      <div class="d-flex align-items-center gap-2 mb-3">
                        <input class="form-control px-2 text-center" type="number" />
                          <input class="form-control px-2 text-center" type="number" disabled="disabled" />
                          <input class="form-control px-2 text-center" type="number" disabled="disabled" /><span>-</span>
                          <input class="form-control px-2 text-center" type="number" disabled="disabled" />
                          <input class="form-control px-2 text-center" type="number" disabled="disabled" />
                          <input class="form-control px-2 text-center" type="number" disabled="disabled" /></div>
                      <div class="form-check text-start mb-4">
                        <input class="form-check-input" id="2fa-checkbox" type="checkbox" />
                        <label for="2fa-checkbox">Don’t ask again on this device</label>
                      </div>
                      <button class="btn btn-primary w-100 mb-5" type="submit">Đăng nhập ngay</button>
                      <a class="fs-9" href="#!">Didn’t receive the code? </a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
