<section class="pt-5 pb-9">
  <div class="product-filter-container">
    <nav class="mb-3" aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
        <li class="breadcrumb-item">Sản phẩm</li>
      </ol>
    </nav>
    <div class="row">
      <!-- filter begin -->
      <div class="col-lg-3 col-xxl-2 ps-2 ps-xxl-3">
        <div class="product-filter-offcanvas bg-body scrollbar phoenix-offcanvas phoenix-offcanvas-fixed"
          id="productFilterColumn">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="mb-0">Bộ lọc
              <span class="ms-2 text-danger cursor-pointer" *ngIf="isFiltering" (click)="clearFilter()">
                <span class="fal fa-times fs-9"></span><span class="fs-9 fw-normal ms-2 align-self-center">Xóa
                  lọc</span>
              </span>
            </h3>
            <button class="btn d-lg-none p-0" data-phoenix-dismiss="offcanvas">
              <i class="fal fa-times fs-7"></i>
            </button>
          </div>
          <span *ngIf="isFiltering" class="align-middle white-space-nowrap text-body-quaternary fs-9 fw-semibold">
            <span class="fas fa-search"></span> Tìm thấy {{paginationModel.totalElements}} mục</span>
          <a class="btn px-0 d-block collapse-indicator" data-bs-toggle="collapse" href="#collapseAvailability"
            role="button" aria-expanded="true" aria-controls="collapseAvailability">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div class="fs-8 text-body-highlight">Danh mục</div>
              <span class="fas fa-angle-down toggle-icon text-body-quaternary"></span>
            </div>
          </a>
          <div class="collapse show" id="collapseAvailability">
            <div class="mb-2">
              <div class="swatch-element mb-1 me-1" *ngFor="let category of categories">
                <input class="swatchInput hide" id="category-{{category.id}}" type="checkbox"
                  name="option-category-{{category.id}}" [value]="category.id"
                  [checked]="isSelectedCategory(category.slug)" (change)="onChooseCategory(category.slug)">
                <label class="swatchLbl" for="category-{{category.id}}">{{category.name}}</label>
              </div>

            </div>
          </div>
          <a class="btn px-0 d-block collapse-indicator" data-bs-toggle="collapse" href="#collapseBrands" role="button"
            aria-expanded="true" aria-controls="collapseBrands">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div class="fs-8 text-body-highlight">Thương hiệu</div><span
                class="fas fa-angle-down toggle-icon text-body-quaternary"></span>
            </div>
          </a>
          <div class="collapse show" id="collapseBrands">
            <div class="mb-2">
              <div class="swatch-element mb-1 me-1" *ngFor="let brand of brands">
                <input class="swatchInput hide" id="brand-{{brand.id}}" type="checkbox" name="option-brand-{{brand.id}}"
                  [value]="brand.name" [checked]="isSelectedBrand(brand.slug)" (change)="onChooseBrand(brand.slug)">
                <label class="swatchLbl" for="brand-{{brand.id}}">{{brand.name}}</label>
              </div>

            </div>
          </div>
          <!-- <a class="btn px-0 d-block collapse-indicator" data-bs-toggle="collapse" href="#collapseColorFamily"
            role="button" aria-expanded="true" aria-controls="collapseColorFamily">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div class="fs-8 text-body-highlight">Màu sắc</div><span
                class="fas fa-angle-down toggle-icon text-body-quaternary"></span>
            </div>
          </a>
          <div class="collapse show" id="collapseColorFamily">
            <div class="mb-2 p-2">
              <div class="swatch-element mb-3 me-1" *ngFor="let color of colors">
                <input class="swatchInput hide" id="color-{{color.id}}" type="checkbox" name="option-color-{{color.id}}"
                  [value]="color.name" [checked]="isSelectedColor(color)" (change)="onChooseColor(color)">
                <label class="swatchLbl" for="color-{{color.id}}">{{color.name}}</label>
              </div>
            </div>
          </div> -->
          <a class="btn px-0 d-block collapse-indicator" data-bs-toggle="collapse" href="#collapseSize" role="button"
            aria-expanded="true" aria-controls="collapseSize">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div class="fs-8 text-body-highlight">Kích cỡ</div><span
                class="fas fa-angle-down toggle-icon text-body-quaternary"></span>
            </div>
          </a>
          <div class="collapse show" id="collapseSize">
            <div class="mb-2">
              <div class="swatch-element mb-1 me-1" *ngFor="let size of productSizes">
                <input class="swatchInput hide" id="size-{{size}}" type="checkbox" name="option-color-{{size}}"
                  [value]="size" [checked]="isSelectedProductSize(size)" (change)="onChooseProductSize(size)">
                <label class="swatchLbl" for="size-{{size}}">{{size}}</label>
              </div>
            </div>
          </div>
          <a class="btn px-0 d-block collapse-indicator" data-bs-toggle="collapse" href="#collapsePriceRange"
            role="button" aria-expanded="true" aria-controls="collapsePriceRange">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div class="fs-8 text-body-highlight">Khoảng giá</div><span
                class="fas fa-angle-down toggle-icon text-body-quaternary"></span>
            </div>
          </a>
          <div class="collapse show pe-2" id="collapsePriceRange">
            <div class=" mb-3 me-2 pe-2">
              <span>{{priceMin | currencyFormat:'VND'}} - {{priceMax | currencyFormat:'VND'}}</span>
              <div class="input-group me-2">
                <mat-slider [min]="0" [max]="3000000" [step]="10000" style="width: 100%;" class="custom">
                  <input matSliderStartThumb (change)="onMinChange($event)" [value]="priceMin">
                  <input matSliderEndThumb (change)="onMaxChange($event)" [value]="priceMax">
                </mat-slider>
              </div>
              <button class="btn btn-black px-3 w-100 fw-normal mt-2 filter_button" type="button"
                (click)="startFilter()">
                Lọc theo khoảng giá</button>
            </div>
          </div>
        </div>
        <div class="phoenix-offcanvas-backdrop d-lg-none"></div>
      </div>
      <!-- list product begin -->
      <div class="col-lg-9 col-xxl-10">
        <div class="d-flex justify-content-between mb-3">
          <div class="d-lg-none">
            <button class="btn btn-sm btn-phoenix-secondary text-body-tertiary" data-phoenix-toggle="offcanvas"
              data-phoenix-target="#productFilterColumn">
              <span class="fas fa-filter me-2"></span>Bộ lọc
            </button>
            <span class="ms-2 text-danger cursor-pointer" *ngIf="isFiltering" (click)="clearFilter()">
              <span class="fal fa-times fs-9"></span><span class="fs-9 ms-2 align-self-center">Xóa lọc</span>
            </span>
          </div>
          <div (click)="clearSearch()" class="d-flex align-middle align-self-center d-none d-sm-block"
            *ngIf="search !== ''">
            <span class="fw-semibold">Kết quả tìm kiếm cho `{{search}}` :
              <span class="fw-normal text-body-tertiary me-2">({{paginationModel.totalElements}} sản phẩm)</span>
            </span>
            <span class="align-middle align-self-center">
              <span class="fal fa-times text-danger"></span>
            </span>
          </div>
          <span></span>
          <div class="d-flex justify-content-end" style="max-width: 200px;">
            <select class="form-select bg-transparent" (change)="onChangeSort($event)" [(ngModel)]="sortedId">
              <option value="1">Sắp xếp: Mặc định</option>
              <option value="2">Sắp xếp: Giá tăng dần</option>
              <option value="3">Sắp xếp: Giá giảm dần</option>
              <option value="4">Sắp xếp: Tên A-Z</option>
              <option value="5">Sắp xếp: Tên Z-A</option>
              <option value="7">Sắp xếp: Mới nhất</option>
              <option value="6">Sắp xếp: Cũ nhất</option>
            </select>
          </div>
        </div>
        <div (click)="clearSearch()" class="d-flex align-middle align-self-center d-lg-none d-md-none"
          *ngIf="search !== ''">
          <span class="fw-semibold fs-9 align-self-center">Kết quả tìm kiếm cho `{{search}}` :
            <span class="fw-normal text-body-tertiary me-2">({{paginationModel.totalElements}} sản phẩm)</span>
          </span>
          <span class="align-middle align-self-center">
            <span class="fal fa-times fs-8 text-danger"></span>
          </span>
        </div>
        <div class="row gx-3 gy-6 mb-8" *ngIf="paginationModel.totalElements != 0">
          <div class="col-12 col-sm-6 col-md-3 col-xxl-2" *ngFor="let product of paginationModel.content">
            <div class="h-100">
              <div class="position-relative text-decoration-none product-card h-100">
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <div class="border border-1 border-translucent rounded-3 position-relative mb-2">
                      <div
                        class="rounded-circle p-0 d-flex flex-center btn-tag z-2 d-toggle-container btn-outline-primary">
                        <span *ngIf="product.totalQuantity === 0"
                          class="badge text-bg-danger fs-9 fw-normal pt-1 pb-1 ms-auto">Hết hàng</span>
                      </div>
                      <div class="image-container">
                        <img class="img-fluid image-custom" src="{{baseUrl}}/images/{{product.thumbnail}}" alt="" />
                      </div>
                    </div>
                    <a class="stretched-link text-decoration-none" [routerLink]="['/product', product.slug]">
                      <h6 class="mb-2 lh-sm line-clamp-3 product-name fs-8">{{product.name}}</h6>
                    </a>
                  </div>
                  <div>
                    <div *ngIf="product.saleId !== null">
                      <p class="me-2 text-body text-decoration-line-through mb-1 fs-9">{{product.price |
                        currencyFormat:'VND' }}</p>
                      <div class="d-flex justify-content-end align-items-end mb-1 text-end w-100">
                        <h3 class="mb-0 text-danger-dark fw-bold fs-7">{{product.salePrice | currencyFormat:'VND' }}
                        </h3>
                        <span *ngIf="product.saleId !== null"
                          class="badge badge-phoenix badge-phoenix-danger fs-9 fw-normal pt-1 pb-1 ms-auto">-{{product?.discount}}%</span>
                      </div>
                    </div>
                    <div *ngIf="product.saleId === null">
                      <h3 class="fw-bold fs-7">{{product.price | currencyFormat:'VND' }}</h3>
                    </div>
                    <div class="d-flex align-items-end mb-1 text-end">
                      <p class="text-body-tertiary fw-semibold fs-9 lh-1 mb-0">{{product.countColor | abbreviation}} màu
                        sắc</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-12 text-center" *ngIf="paginationModel.totalElements == 0">
          <div>
            <img src="../../../../assets/empty_product.svg" alt="" width="200px">
            <h4 class="fw-normal">Không tìm thấy sản phẩm nào</h4>
          </div>
        </div>
        <!-- page begin -->
        <div class="col-auto d-flex justify-content-between mt-1" *ngIf="paginationModel.totalElements !== 0">
          <div class="d-flex align-items-center justify-content-center justify-content-md-start">
            <select class="form-select form-select-sm form-select-solid"
              (change)="changePageSize(paginationModel.pageSize)" [(ngModel)]="paginationModel.pageSize">
              <option value="12" [selected]="paginationModel.pageSize === 12">12</option>
              <option value="25" [selected]="paginationModel.pageSize === 25">25</option>
              <option value="50" [selected]="paginationModel.pageSize === 50">50</option>
              <option value="100" [selected]="paginationModel.pageSize === 100">100</option>
              <option *ngIf="paginationModel.totalElements > 100" [value]="paginationModel.totalElements"
                [selected]="paginationModel.pageSize === paginationModel.totalElements">
                Tất cả ({{paginationModel.totalElements}})
              </option>
            </select>
          </div>
          <div class="d-flex justify-content-end" *ngIf="paginationModel.totalElements != 0">
            <button class="page-link" [ngClass]="{'disabled': paginationModel.pageFirst}" (click)="changePageNumber(1)">
              <i class="fas fa-angle-double-left"></i>
            </button>
            <ul class="mb-0 pagination">
              <li class="page-item" *ngFor="let page of paginationModel.pageNumbers"
                [class.active]="page === paginationModel.pageNumber">
                <button type="button" class="page-link" (click)="changePageNumber(page)">{{page}}</button>
              </li>
            </ul>
            <button class="page-link pe-0" [ngClass]="{'disabled': paginationModel.pageLast}"
              (click)="changePageNumber(paginationModel.totalPages)">
              <i class="fas fa-angle-double-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->
</section>