<section class="pt-5 pb-9">
  <div class="product-filter-container">
    <div class="row">
      <!-- filter begin -->
      <div class="col-lg-3 col-xxl-2 ps-2 ps-xxl-3">
        <div class="product-filter-offcanvas bg-body scrollbar phoenix-offcanvas phoenix-offcanvas-fixed"
          id="productFilterColumn">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="mb-0">Bộ lọc</h3>
            <button class="btn d-lg-none p-0" data-phoenix-dismiss="offcanvas">
              <span class="uil uil-times fs-8"></span>
            </button>
          </div>
          <a class="btn px-0 d-block collapse-indicator" data-bs-toggle="collapse" href="#collapseAvailability"
            role="button" aria-expanded="true" aria-controls="collapseAvailability">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div class="fs-8 text-body-highlight">Danh mục</div>
              <span class="fa-solid fa-angle-down toggle-icon text-body-quaternary"></span>
            </div>
          </a>
          <div class="collapse show" id="collapseAvailability">
            <div class="mb-2">
              <div class="swatch-element mb-3 me-2" *ngFor="let category of categories">
                <input class="swatchInput hide" 
                       id="category-{{category.id}}" 
                       type="checkbox" 
                       name="option-category-{{category.id}}"
                       [value]="category.id" 
                       [checked]="isSelectedCategory(category)" 
                       (change)="onChooseCategory(category)">
                <label class="swatchLbl" for="category-{{category.id}}">{{category.name}}</label>
              </div>
              
            </div>
          </div>
          <a class="btn px-0 d-block collapse-indicator" data-bs-toggle="collapse" href="#collapseBrands" role="button"
            aria-expanded="true" aria-controls="collapseBrands">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div class="fs-8 text-body-highlight">Thương hiệu</div><span
                class="fa-solid fa-angle-down toggle-icon text-body-quaternary"></span>
            </div>
          </a>
          <div class="collapse show" id="collapseBrands">
            <div class="mb-2">
              <div class="swatch-element mb-3 me-2" *ngFor="let brand of brands">
                <input class="swatchInput hide" 
                       id="brand-{{brand.id}}" 
                       type="checkbox" 
                       name="option-brand-{{brand.id}}"
                       [value]="brand.id" 
                       [checked]="isSelectedBrand(brand)" 
                       (change)="onChooseBrand(brand)">
                <label class="swatchLbl" for="brand-{{brand.id}}">{{brand.name}}</label>
              </div>
              
            </div>
          </div>
          <a class="btn px-0 d-block collapse-indicator" data-bs-toggle="collapse" href="#collapseColorFamily"
            role="button" aria-expanded="true" aria-controls="collapseColorFamily">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div class="fs-8 text-body-highlight">Color family</div><span
                class="fa-solid fa-angle-down toggle-icon text-body-quaternary"></span>
            </div>
          </a>
          <div class="collapse show" id="collapseColorFamily">
            <div class="mb-2">
              <div class="form-check mb-0"><input class="form-check-input mt-0" id="flexCheckBlack" type="checkbox"
                  name="color" checked><label class="form-check-label d-block lh-sm fs-8 text-body fw-normal mb-0"
                  for="flexCheckBlack">Black</label></div>
              <div class="form-check mb-0"><input class="form-check-input mt-0" id="flexCheckBlue" type="checkbox"
                  name="color"><label class="form-check-label d-block lh-sm fs-8 text-body fw-normal mb-0"
                  for="flexCheckBlue">Blue</label></div>
              <div class="form-check mb-0"><input class="form-check-input mt-0" id="flexCheckRed" type="checkbox"
                  name="color"><label class="form-check-label d-block lh-sm fs-8 text-body fw-normal mb-0"
                  for="flexCheckRed">Red</label></div>
            </div>
          </div>
          <a class="btn px-0 d-block collapse-indicator" data-bs-toggle="collapse" href="#collapsePriceRange"
            role="button" aria-expanded="true" aria-controls="collapsePriceRange">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div class="fs-8 text-body-highlight">Price range</div><span
                class="fa-solid fa-angle-down toggle-icon text-body-quaternary"></span>
            </div>
          </a>
          <div class="collapse show" id="collapsePriceRange">
            <div class="d-flex justify-content-between mb-3">
              <div class="input-group me-2"><input class="form-control" type="text" aria-label="First name"
                  placeholder="Min"><input class="form-control" type="text" aria-label="Last name" placeholder="Max">
              </div><button class="btn btn-phoenix-primary px-3" type="button">Go</button>
            </div>
          </div>
        </div>
        <div class="phoenix-offcanvas-backdrop d-lg-none"></div>
      </div>
      <!-- list product begin -->
      <div class="col-lg-9 col-xxl-10">
        <div class="row justify-content-end mb-3 ms-2 me-2">
          <div class="col d-lg-none">
            <button class="btn btn-sm btn-phoenix-secondary text-body-tertiary" data-phoenix-toggle="offcanvas"
              data-phoenix-target="#productFilterColumn">
              <span class="fa-solid fa-filter me-2"></span>Bộ lọc
            </button>
          </div>
          <div class="col-12 col-sm-6 col-md-3 col-xxl-2" style="max-width: 200px;">
            <select class="form-select bg-transparent" (change)="onChangeSort($event)" [value]="sortId">
              <option value="1">Mặc định</option>
              <option value="2">Giá: Tăng dần</option>
              <option value="3">Giá: Giảm dần</option>
              <option value="4">Tên: A-Z</option>
              <option value="5">Tên: Z-A</option>
              <option value="6">Mới nhất</option>
              <option value="7">Cũ nhất</option>
            </select>
          </div>
        </div>
        <div class="row gx-3 gy-6 mb-8" *ngIf="paginationModel.totalElements != 0">
          <div class="col-12 col-sm-6 col-md-3 col-xxl-2" *ngFor="let product of paginationModel.content">
            <div class="product-card-container h-100">
              <div class="position-relative text-decoration-none product-card h-100">
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <div class="border border-1 border-translucent rounded-3 position-relative mb-2">
                      <div
                        class="rounded-circle p-0 d-flex flex-center btn-tag z-2 d-toggle-container btn-outline-primary">
                        <span *ngIf="product.totalQuantity === 0"
                          class="badge text-bg-danger fs-9 fw-normal pt-1 pb-1 ms-auto">Hết hàng</span>
                      </div>
                      <div class="image-container">
                        <img class="img-fluid image-custom" src="{{baseUrl}}/images/{{product.thumbnail}}" alt="" />
                      </div>
                    </div>
                    <a class="stretched-link text-decoration-none" [routerLink]="['/product', product.slug]">
                      <h6 class="mb-2 lh-sm line-clamp-3 product-name fs-8">{{product.name}}</h6>
                    </a>
                  </div>
                  <div>
                    <div *ngIf="product.saleId !== null">
                      <p class="me-2 text-body text-decoration-line-through mb-1 fs-9">{{product.price |
                        currencyFormat:'VND' }}</p>
                      <div class="d-flex justify-content-end align-items-end mb-1 text-end w-100">
                        <h3 class="mb-0 text-danger-dark fw-bold fs-7">{{product.salePrice | currencyFormat:'VND' }}
                        </h3>
                        <span *ngIf="product.saleId !== null"
                          class="badge badge-phoenix badge-phoenix-danger fs-9 fw-normal pt-1 pb-1 ms-auto">-{{product?.discount}}%</span>
                      </div>
                    </div>
                    <div *ngIf="product.saleId === null">
                      <h3 class="fw-bold fs-7">{{product.price | currencyFormat:'VND' }}</h3>
                    </div>
                    <div class="d-flex align-items-end mb-1 text-end">
                      <p class="text-body-tertiary fw-semibold fs-9 lh-1 mb-0">{{product.countColor | abbreviation}} màu
                        sắc</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row gx-3 gy-6 mb-8" *ngIf="paginationModel.totalElements == 0">
          <h4>Không có bản ghi nào</h4>
        </div>
        <!-- page begin -->
        <div class="d-flex justify-content-end" *ngIf="paginationModel.totalElements != 0">
          <button class="page-link" [ngClass]="{'disabled': paginationModel.pageFirst}" (click)="changePageNumber(1)">
            <i class="fas fa-angle-double-left"></i>
          </button>
          <ul class="mb-0 pagination">
            <li class="page-item" *ngFor="let page of paginationModel.pageNumbers"
              [class.active]="page === paginationModel.pageNumber">
              <button type="button" class="page-link" (click)="changePageNumber(page)">{{page}}</button>
            </li>
          </ul>
          <button class="page-link pe-0" [ngClass]="{'disabled': paginationModel.pageLast}"
            (click)="changePageNumber(paginationModel.totalPages)">
            <i class="fas fa-angle-double-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->
</section>