/* inside page styles*/
code-input {
    --item-spacing: 8px;
    --item-height: 3em;
    /* --item-border: 1px solid #dddddd;
    --item-border-bottom: 2px solid #dddddd;
    --item-border-has-value: none;
    --item-border-bottom-has-value: 2px solid #888888;
    --item-border-focused: none;
    --item-border-bottom-focused: 2px solid #809070; */
    --item-shadow-focused: 1px 1px 5px rgba(221, 221, 221, 1);
    --item-border-radius: 10px;
    --item-font-weight: 500;
    --color: #000000;

    /* https://www.npmjs.com/package/angular-code-input */
}