<main class="main" id="top">
  <div class="container-fluid bg-body-tertiary dark__bg-gray-1200">
    <div class="bg-holder bg-auth-card-overlay" style="background-image:url(../../../assets/img/bg/37.png);"></div>
    <!--/.bg-holder-->
    <div class="row flex-center position-relative min-vh-100 g-0 py-5">
      <div class="col-sm-4">
        <div class="card border border-translucent auth-card">
          <div class="card-body pe-md-0">
            <div class="row align-items-center gx-0 gy-7">
              <div class="col mx-auto">
                <div class="auth-form-box">
                  <div class="text-center"><a class="d-flex flex-center text-decoration-none mb-4"
                      href="../../../index.html">
                      <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img
                          src="../../../assets/img/icons/logo.png" alt="phoenix" width="58" /></div>
                    </a>
                    <h3 class="text-body-highlight mb-2">Nhập mã xác minh</h3>
                    <p class="text-body-tertiary mb-4">Một email chứa mã xác minh gồm 6 chữ số đã được gửi đến địa chỉ email - {{email}}</p>
                    <code-input (codeChanged)="onCodeChanged($event)" #codeInput [initialFocusField]="0"
                      (codeCompleted)="onCodeCompleted($event)"></code-input>
                      <p class="fs-9 mb-3 mt-3 text-danger" *ngIf="ERROR_VERIFICATION_CODE !== ''">{{ERROR_VERIFICATION_CODE}}</p>
                    <p class="fs-9 mb-3 mt-5">Bạn không nhận được mã? <a class="text-primary" (click)="sendVerificationEmailByCode()">Gửi lại mã</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>