@import " ~@ng-select/ng-select/themes/default.theme.css ";

.hello {
  color: red;
}

.product-card .btn-wish {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  height: 1.6rem !important;
  width: 1.6rem !important;
}

/* .ng-placeholder {
  font-size: 12px !important;
  color: #acacace0 !important; 
  text-align: center !important;
  font-weight: 600 !important;
} */

.cursor-pointer {
  cursor: pointer;
}

.label-error {
  --phoenix-danger-rgb: 236, 31, 0;
  --phoenix-text-opacity: 1;
  color: rgba(var(--phoenix-danger-rgb), var(--phoenix-text-opacity)) !important;
  padding-left: 1rem;
  line-height: 1.2;
  margin-bottom: 0;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-primary {
  color: #3874ff !important;
}

@media (max-width: 576px) {
  .text-truncate {
    max-width: 120px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .text-truncate {
    max-width: 180px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .text-truncate {
    max-width: 200px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .text-truncate {
    max-width: 220px;
  }
}

/* Larger screens */
@media (min-width: 1201px) {
  .text-truncate {
    max-width: 250px;
  }
}

/* Nút màu đen với đường viền */
.btn-outline-black {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* hiệu ứng chuyển đổi màu */
}

.btn-outline-black:hover {
  background-color: black;
  color: white;
}

/* Nút màu đen */
.btn-black {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
  /* hiệu ứng chuyển đổi độ trong suốt */
}

.btn-scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  /* Đảm bảo nút luôn hiển thị phía trên */
}

.btn-black:hover {
  opacity: 0.2;
  /* thay đổi độ trong suốt khi di chuột qua */
}

.description p img {
  max-width: 100%;
  height: auto;
}

.bg-body-highlight_dark__bg-gray-1100_py-9 {
  background-color: #141824;
}

.product-card .btn-tag {
  position: absolute;
  top: 0.75rem;
  left: 2.25rem;
  height: 1.6rem !important;
  width: 1.6rem !important;
}

/* CSS cho hình ảnh */
.image-custom {
  width: 100%;
  width: auto;
  min-height: 210px;
  max-height: 210px;
  object-fit: contain;
}

/* CSS */
.image-container {
  display: flex;
  justify-content: center;
  /* Căn giữa theo chiều ngang */
  align-items: center;
  /* Căn giữa theo chiều dọc */
  width: 100%;
  height: 100%;
}

.thumbnail-image {
  width: 100%;
  max-height: 530px;
  min-height: 530px;
  object-fit: contain;
}


/* CSS đáp ứng */
@media (max-width: 768px) {
  .image-custom {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    object-fit: contain;
  }

  .thumbnail-image {
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    object-fit: contain;
  }
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */