<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <nav class="navbar navbar-vertical navbar-expand-lg" data-navbar-appearance = 'darker'>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
      <!-- scrollbar removed-->
      <div class="navbar-vertical-content">
        <ul class="navbar-nav flex-column" id="navbarVerticalNav">
          <li class="nav-item">
            <div class="nav-item-wrapper">
              <a class="nav-link label-1" routerLink="/admin" role="button" data-bs-toggle="" aria-expanded="false">
                <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                      data-feather="pie-chart"></span></span><span class="nav-link-text-wrapper"><span
                      class="nav-link-text">Bảng điều khiển</span></span></div>
              </a>
            </div><!-- parent pages-->
          </li>
          <li class="nav-item">
            <!-- label-->
            <p class="navbar-vertical-label">Quản lý sản phẩm</p>
            <hr class="navbar-vertical-line" /><!-- parent pages-->
            <div class="nav-item-wrapper">
              <a class="nav-link label-1" routerLink="category" >
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="tag"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Danh mục</span>
                  </span>
                </div>
              </a>
              <a class="nav-link label-1" routerLink="category" >
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="tag"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Thương hiệu</span>
                  </span>
                </div>
              </a>
              <a class="nav-link label-1" routerLink="category" >
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="package"></span>
                  </span>
                  <span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Sản phẩm</span>
                  </span>
                </div>
              </a>
            </div>
            <p class="navbar-vertical-label">Quản lý hệ thống</p>
            <hr class="navbar-vertical-line" /><!-- parent pages-->
            <div class="nav-item-wrapper">
              <a class="nav-link label-1" routerLink="category" >
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="user"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Nhân viên</span>
                  </span>
                </div>
              </a>
              <a class="nav-link label-1" routerLink="category" >
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="users"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Khách hàng</span>
                  </span>
                </div>
              </a>
              <a class="nav-link label-1" routerLink="category" >
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="lock"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Quyền hạn</span>
                  </span>
                </div>
              </a>
            </div>
            <p class="navbar-vertical-label">Quản lý bán hàng</p>
            <hr class="navbar-vertical-line" /><!-- parent pages-->
            <div class="nav-item-wrapper">
              <a class="nav-link label-1" routerLink="category" >
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="shopping-cart"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Đặt hàng</span>
                  </span>
                </div>
              </a>
              <a class="nav-link label-1" routerLink="category" >
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="printer"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Hóa đơn bán hàng</span>
                  </span>
                </div>
              </a>
            </div>
            <p class="navbar-vertical-label">Quản lý khuyến mãi</p>
            <hr class="navbar-vertical-line" /><!-- parent pages-->
            <div class="nav-item-wrapper">
              <a class="nav-link label-1" routerLink="category" >
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="gift"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Sản phẩm khuyến mãi</span>
                  </span>
                </div>
              </a>
              <a class="nav-link label-1" routerLink="category" >
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="dollar-sign"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Phiếu giảm giá</span>
                  </span>
                </div>
              </a>
            </div>
            <p class="navbar-vertical-label">Quản lý nhập hàng</p>
            <hr class="navbar-vertical-line" /><!-- parent pages-->
            <div class="nav-item-wrapper">
              <a class="nav-link label-1" routerLink="category" >
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="briefcase"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Nhà cung cấp</span>
                  </span>
                </div>
              </a>
              <a class="nav-link label-1" routerLink="category" >
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="file-text"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Hóa đơn nhập hàng</span>
                  </span>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-vertical-footer">
      <button
        class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center">
        <span data-feather="align-justify"></span>
        <!-- <span class="uil uil-arrow-from-right fs-8"></span> -->
        <span class="navbar-vertical-footer-text ms-2">Chế độ xem thu gọn</span>
      </button>
    </div>
  </nav>
  <nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault" data-navbar-appearance = 'darker'>
    <div class="collapse navbar-collapse justify-content-between">
      <div class="navbar-logo">
        <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse"
          aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span
              class="toggle-line"></span></span></button>
        <a class="navbar-brand me-1 me-sm-3" href="../../../index.html">
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center"><img src="../../../assets/img/icons/logonew2.png" alt="phoenix"
                width="27" />
              <p class="logo-text ms-2 d-none d-sm-block">Shoes Station</p>
            </div>
          </div>
        </a>
      </div>
      <ul class="navbar-nav navbar-nav-icons flex-row">
        <li class="nav-item">
          <div class="theme-control-toggle fa-icon-wait px-2"><input
              class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme"
              value="dark" id="themeControlToggle" /><label
              class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle"
              data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon"
                data-feather="moon"></span></label><label
              class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle"
              data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon"
                data-feather="sun"></span></label></div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" style="min-width: 2.25rem" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside"><span data-feather="bell"
              style="height:20px;width:20px;"></span></a>
          <div
            class="dropdown-menu dropdown-menu-end notification-dropdown-menu py-0 shadow border navbar-dropdown-caret"
            id="navbarDropdownNotfication" aria-labelledby="navbarDropdownNotfication">
            <div class="card position-relative border-0">
              <div class="card-header p-2">
                <div class="d-flex justify-content-between">
                  <h5 class="text-body-emphasis mb-0">Notificatons</h5><button class="btn btn-link p-0 fs-9 fw-normal"
                    type="button">Mark all as read</button>
                </div>
              </div>
              <div class="card-body p-0">
                <div class="scrollbar-overlay" style="height: 27rem;">
                  <div class="px-2 px-sm-3 py-3 notification-card position-relative read border-bottom">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                      <div class="d-flex">
                        <div class="avatar avatar-m status-online me-3"><img class="rounded-circle"
                            src="../../../assets/img/team/40x40/30.webp" alt="" /></div>
                        <div class="flex-1 me-sm-3">
                          <h4 class="fs-9 text-body-emphasis">Jessie Samson</h4>
                          <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span
                              class='me-1 fs-10'>💬</span>Mentioned you in a comment.<span
                              class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">10m</span></p>
                          <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span
                              class="fw-bold">10:41 AM </span>August 7,2021</p>
                        </div>
                      </div>
                      <div class="d-none d-sm-block"><button
                          class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle"
                          type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                          aria-expanded="false" data-bs-reference="parent"><span
                            class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as
                            unread</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                      <div class="d-flex">
                        <div class="avatar avatar-m status-online me-3">
                          <div class="avatar-name rounded-circle"><span>J</span></div>
                        </div>
                        <div class="flex-1 me-sm-3">
                          <h4 class="fs-9 text-body-emphasis">Jane Foster</h4>
                          <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span
                              class='me-1 fs-10'>📅</span>Created an event.<span
                              class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">20m</span></p>
                          <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span
                              class="fw-bold">10:20 AM </span>August 7,2021</p>
                        </div>
                      </div>
                      <div class="d-none d-sm-block"><button
                          class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle"
                          type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                          aria-expanded="false" data-bs-reference="parent"><span
                            class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as
                            unread</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                      <div class="d-flex">
                        <div class="avatar avatar-m status-online me-3"><img class="rounded-circle avatar-placeholder"
                            src="../../../assets/img/team/40x40/avatar.webp" alt="" /></div>
                        <div class="flex-1 me-sm-3">
                          <h4 class="fs-9 text-body-emphasis">Jessie Samson</h4>
                          <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span
                              class='me-1 fs-10'>👍</span>Liked your comment.<span
                              class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">1h</span></p>
                          <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span
                              class="fw-bold">9:30 AM </span>August 7,2021</p>
                        </div>
                      </div>
                      <div class="d-none d-sm-block"><button
                          class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle"
                          type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                          aria-expanded="false" data-bs-reference="parent"><span
                            class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as
                            unread</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                      <div class="d-flex">
                        <div class="avatar avatar-m status-online me-3"><img class="rounded-circle"
                            src="../../../assets/img/team/40x40/57.webp" alt="" /></div>
                        <div class="flex-1 me-sm-3">
                          <h4 class="fs-9 text-body-emphasis">Kiera Anderson</h4>
                          <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span
                              class='me-1 fs-10'>💬</span>Mentioned you in a comment.<span
                              class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                          <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span
                              class="fw-bold">9:11 AM </span>August 7,2021</p>
                        </div>
                      </div>
                      <div class="d-none d-sm-block"><button
                          class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle"
                          type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                          aria-expanded="false" data-bs-reference="parent"><span
                            class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as
                            unread</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                      <div class="d-flex">
                        <div class="avatar avatar-m status-online me-3"><img class="rounded-circle"
                            src="../../../assets/img/team/40x40/59.webp" alt="" /></div>
                        <div class="flex-1 me-sm-3">
                          <h4 class="fs-9 text-body-emphasis">Herman Carter</h4>
                          <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span
                              class='me-1 fs-10'>👤</span>Tagged you in a comment.<span
                              class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                          <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span
                              class="fw-bold">10:58 PM </span>August 7,2021</p>
                        </div>
                      </div>
                      <div class="d-none d-sm-block"><button
                          class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle"
                          type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                          aria-expanded="false" data-bs-reference="parent"><span
                            class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as
                            unread</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="px-2 px-sm-3 py-3 notification-card position-relative read ">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                      <div class="d-flex">
                        <div class="avatar avatar-m status-online me-3"><img class="rounded-circle"
                            src="../../../assets/img/team/40x40/58.webp" alt="" /></div>
                        <div class="flex-1 me-sm-3">
                          <h4 class="fs-9 text-body-emphasis">Benjamin Button</h4>
                          <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span
                              class='me-1 fs-10'>👍</span>Liked your comment.<span
                              class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                          <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span
                              class="fw-bold">10:18 AM </span>August 7,2021</p>
                        </div>
                      </div>
                      <div class="d-none d-sm-block"><button
                          class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle"
                          type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                          aria-expanded="false" data-bs-reference="parent"><span
                            class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as
                            unread</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer p-0 border-top border-translucent border-0">
                <div class="my-2 text-center fw-bold fs-10 text-body-tertiary text-opactity-85"><a class="fw-bolder"
                    href="../../../pages/notifications.html">Notification history</a></div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown"><a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!" role="button"
            data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
            <div class="avatar avatar-l ">
              <img class="rounded-circle " src="../../../assets/img/team/40x40/57.webp" alt="" />
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border"
            aria-labelledby="navbarDropdownUser">
            <div class="card position-relative border-0">
              <div class="card-body p-0">
                <div class="text-center pt-4 pb-3">
                  <div class="avatar avatar-xl ">
                    <img class="rounded-circle " src="../../../assets/img/team/72x72/57.webp" alt="" />
                  </div>
                  <h6 class="mt-2 text-body-emphasis">Jerry Seinfield</h6>
                </div>
                <div class="mb-3 mx-3"><input class="form-control form-control-sm" id="statusUpdateInput" type="text"
                    placeholder="Update your status" /></div>
              </div>
              <div class="overflow-auto scrollbar" style="height: 10rem;">
                <ul class="nav d-flex flex-column mb-2 pb-1">
                  <li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-body"
                        data-feather="user"></span><span>Profile</span></a></li>
                  <li class="nav-item"><a class="nav-link px-3" href="#!"><span class="me-2 text-body"
                        data-feather="pie-chart"></span>Dashboard</a></li>
                  <li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-body"
                        data-feather="lock"></span>Posts &amp; Activity</a></li>
                  <li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-body"
                        data-feather="settings"></span>Settings &amp; Privacy </a></li>
                  <li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-body"
                        data-feather="help-circle"></span>Help Center</a></li>
                  <li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-body"
                        data-feather="globe"></span>Language</a></li>
                </ul>
              </div>
              <div class="card-footer p-0 border-top border-translucent">
                <ul class="nav d-flex flex-column my-3">
                  <li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-body"
                        data-feather="user-plus"></span>Add another account</a></li>
                </ul>
                <hr />
                <div class="px-3"> <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="#!"> <span
                      class="me-2" data-feather="log-out"> </span>Sign out</a></div>
                <div class="my-2 text-center fw-bold fs-10 text-body-quaternary"><a class="text-body-quaternary me-1"
                    href="#!">Privacy policy</a>&bull;<a class="text-body-quaternary mx-1" href="#!">Terms</a>&bull;<a
                    class="text-body-quaternary ms-1" href="#!">Cookies</a></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content">
    <nav class="mb-2" aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
        <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
        <li class="breadcrumb-item active">Default</li>
      </ol>
    </nav>
    <router-outlet></router-outlet>
    <app-footer-admin></app-footer-admin>
  </div>
</main>