<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <nav class="navbar navbar-vertical navbar-expand-lg" data-navbar-appearance='darker'>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
      <!-- scrollbar removed-->
      <div class="navbar-vertical-content">
        <ul class="navbar-nav flex-column" id="navbarVerticalNav">
          <li class="nav-item">
            <div class="nav-item-wrapper">
              <a class="nav-link label-1" routerLink="/admin" role="button" data-bs-toggle="" aria-expanded="false">
                <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                      data-feather="pie-chart"></span></span><span class="nav-link-text-wrapper"><span
                      class="nav-link-text">Trang chủ</span></span></div>
              </a>
            </div><!-- parent pages-->
          </li>
          <li class="nav-item">
            <div class="nav-item-wrapper">
              <a class="nav-link dropdown-indicator label-1" href="#product" role="button" data-bs-toggle="collapse"
                aria-expanded="false" aria-controls="product">
                <div class="d-flex align-items-center">
                  <div class="dropdown-indicator-icon">
                    <span class="fas fa-caret-right"></span>
                  </div>
                  <span class="nav-link-icon">
                    <span data-feather="package"></span>
                  </span>
                  <span class="nav-link-text">Quản lý sản phẩm</span>
                </div>
              </a>
              <div class="parent-wrapper label-1">
                <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="product">
                  <li class="collapsed-nav-item-title d-none">Quản lý sản phẩm</li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/category']" routerLinkActive="active">
                      <div class="d-flex align-items-center">
                        <span class="nav-link-text">Danh mục</span>
                      </div>
                    </a><!-- more inner pages-->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/brand']" routerLinkActive="active">
                      <div class="d-flex align-items-center">
                        <span class="nav-link-text">Thương hiệu</span>
                      </div>
                    </a><!-- more inner pages-->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/product']" routerLinkActive="active">
                      <div class="d-flex align-items-center">
                        <span class="nav-link-text">Sản phẩm</span>
                      </div>
                    </a><!-- more inner pages-->
                  </li>
                </ul>
              </div>
            </div><!-- parent pages-->
            <p class="navbar-vertical-label">Quản lý người dùng</p>
            <hr class="navbar-vertical-line" /><!-- parent pages-->
            <div class="nav-item-wrapper">
              <a class="nav-link label-1" [routerLink]="['/admin/employee']" routerLinkActive="active">
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="user"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Nhân viên</span>
                  </span>
                </div>
              </a>
              <a class="nav-link label-1" [routerLink]="['/admin/customer']" routerLinkActive="active">
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="users"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Khách hàng</span>
                  </span>
                </div>
              </a>
            </div>
            <p class="navbar-vertical-label">Quản lý bán hàng</p>
            <hr class="navbar-vertical-line" /><!-- parent pages-->
            <div class="nav-item-wrapper">
              <a class="nav-link label-1" [routerLink]="['/admin/order']" routerLinkActive="active">
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="shopping-cart"></span></span>
                    <span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Đơn đặt hàng</span>
                  </span>
                </div>
              </a>
              <a class="nav-link label-1" [routerLink]="['/admin/order']" routerLinkActive="active">
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="printer"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Hóa đơn bán hàng</span>
                  </span>
                </div>
              </a>
              <a class="nav-link label-1" [routerLink]="['/admin/sale']" routerLinkActive="active">
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="gift"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Quản lý khuyến mãi</span>
                  </span>
                </div>
              </a>
            </div>
            <p class="navbar-vertical-label">Quản lý nhập hàng</p>
            <hr class="navbar-vertical-line" /><!-- parent pages-->
            <div class="nav-item-wrapper">
              <a class="nav-link label-1" [routerLink]="['/admin/supplier']" routerLinkActive="active">
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="briefcase"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Nhà cung cấp</span>
                  </span>
                </div>
              </a>
              <a class="nav-link label-1" [routerLink]="['/admin/receipt']" routerLinkActive="active">
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span data-feather="file-text"></span></span><span class="nav-link-text-wrapper">
                    <span class="nav-link-text">Hóa đơn nhập hàng</span>
                  </span>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-vertical-footer">
      <button
        class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center">
        <span data-feather="align-justify"></span>
        <!-- <span class="uil uil-arrow-from-right fs-8"></span> -->
        <span class="navbar-vertical-footer-text ms-2">Chế độ xem thu gọn</span>
      </button>
    </div>
  </nav>
  <nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault" data-navbar-appearance='darker'>
    <div class="collapse navbar-collapse justify-content-between">
      <div class="navbar-logo">
        <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse"
          aria-expanded="false" aria-label="Toggle Navigation">
          <span class="navbar-toggle-icon">
            <span class="toggle-line"></span>
          </span>
        </button>
        <a class="navbar-brand me-1 me-sm-3" href="/">
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center">
              <img src="../../../assets/img/icons/logonew2.png" alt="Shoes Station" width="27" />
              <p class="logo-text ms-2 d-none d-sm-block">Shoes Station</p>
            </div>
          </div>
        </a>
      </div>
      <ul class="navbar-nav navbar-nav-icons flex-row">
        <li class="nav-item dropdown">
          <a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!" role="button"
            data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
            <div class="d-flex">
              <div class="avatar avatar-l ">
                <img class="rounded-circle " src="{{baseUrl}}/images/{{employee.avatar}}" alt=""
                  *ngIf="employee?.avatar !== null" />
                <img class="rounded-circle " src="../../../../assets/img/avatar-default.jpg" alt=""
                  *ngIf="employee?.avatar === null" />
              </div>
              <div class="align-content-center">
                <h6 class="ms-3 text-white">{{employee?.name}}</h6>
                <small class="fs-10 ms-3 text-white">{{role}}</small>
              </div>
              <div class="align-content-center ms-3 text-white">
                <i class="fas fa-chevron-down"></i>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border"
            aria-labelledby="navbarDropdownUser">
            <div class="card position-relative border-0">
              <div class="card-footer p-0">
                <ul class="nav d-flex flex-column mb-2 pb-1 mt-2">
                  <li class="nav-item">
                    <a class="nav-link px-3" href="/">
                      <span class="me-2 text-body" data-feather="users"></span>
                      <span>Trang khách hàng</span></a>
                  </li>
                  <li class="nav-item" (click)="detail(employee?.id)">
                    <a class="nav-link px-3">
                      <span class="me-2 text-body" data-feather="user"></span>
                      <span>Cá nhân</span></a>
                  </li>
                  <li class="nav-item">
                    <span class="nav-link px-3" type="button" data-bs-toggle="modal" data-bs-target="#tooltipModalChangePassword">
                      <span class="me-2 text-body" data-feather="key"></span>
                      <span>Đổi mật khẩu</span>
                    </span>
                  </li>
                  <li class="nav-item">
                    <span class="nav-link px-3" (click)="logout()">
                      <span class="me-2 text-body" data-feather="log-out"></span>
                      <span>Đăng xuất</span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="modal fade" id="tooltipModalChangePassword" tabindex="-1" aria-labelledby="tooltipModalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tooltipModalLabel">Đổi mật khẩu</h5><button class="btn p-1" type="button"
            data-bs-dismiss="modal" aria-label="Close" (click)="resetText()">
            <span class="fas fa-times fs-9"></span>
          </button>
        </div>
        <form [formGroup]="changePasswordForm" (submit)="onChangePassword()">
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Mật khẩu cũ</label><span class="text-danger">
                *</span>
              <input spellcheck="false" class="form-control" type="password" #oldPassword placeholder="Mật khẩu cũ"
                [ngClass]="{'border-danger': (changePasswordForm['controls']['oldPassword'].errors?.['required']) && changePasswordForm['controls']['oldPassword'].dirty}"
                formControlName="oldPassword" />
              <div class="label-error mt-1" *ngIf="changePasswordForm['controls']['oldPassword'].dirty">
                <div *ngIf="changePasswordForm.get('oldPassword')?.hasError('required')" class="text-danger">
                  <small>Trường bắt buộc.</small>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Mật khẩu mới</label>
              <span class="text-danger"> *</span>
              <input class="form-control" spellcheck="false" type="password" #newPassword placeholder="Mật khẩu mới"
                [ngClass]="{'border-danger': (changePasswordForm.get('newPassword')?.hasError('maxlength')
              || changePasswordForm['controls']['newPassword'].errors?.['required']
              || changePasswordForm['controls']['newPassword'].errors?.['pattern']) && changePasswordForm['controls']['newPassword'].dirty}"
                formControlName="newPassword" />
              <div class="label-error mt-1" *ngIf="changePasswordForm['controls']['newPassword'].dirty">
                <span *ngIf="changePasswordForm['controls']['newPassword'].errors?.['required']">
                  <small>Trường bắt buộc.</small>
                </span>
                <div *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')" class="text-danger">
                  <small>Mật khẩu phải có ít nhật 6 ký tự.</small>
                </div>
                <div *ngIf="changePasswordForm.get('newPassword')?.hasError('maxlength')" class="text-danger">
                  <small>Mật khẩu không được vượt quá 30 ký tự.</small>
                </div>
              </div>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" (change)="togglePassword()" />
              <label class="form-check-label">Hiện mật khẩu</label>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit" [disabled]="changePasswordForm.invalid" #btnSave>Cập
              nhật</button>
            <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal" #btnCloseModal
              (click)="resetText()">Hủy</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
    <app-footer-admin></app-footer-admin>
  </div>
</main>