<main class="main" id="top">
  <div class="container-fluid bg-body-tertiary dark__bg-gray-1200">
    <div class="bg-holder bg-auth-card-overlay" style="background-image:url(../../../assets/img/bg/37.png);"></div>
    <!--/.bg-holder-->
    <div class="row flex-center position-relative min-vh-100 g-0 py-5">
      <div class="col-sm-4">
        <div class="card border border-translucent auth-card">
          <div class="card-body pe-md-0">
            <div class="row align-items-center gx-0 gy-7">
              <div class="col mx-auto">
                <div class="auth-form-box">
                  <div class="text-center"><a class="d-flex flex-center text-decoration-none mb-4"
                      href="../../../index.html">
                      <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img
                          src="../../../assets/img/icons/logo.png" alt="phoenix" width="58" /></div>
                    </a>
                    <h4 class="text-body-highlight">Quên mật khẩu?</h4>
                    <p class="text-body-tertiary mb-5">Nhập email của bạn bên dưới và chúng tôi sẽ <br
                        class="d-md-none" />gửi cho bạn <br class="d-none d-xxl-block" />mã xác minh</p>
                    <form [formGroup]="forgotPasswordForm" (submit)="onSubmit()" class="d-flex align-items-center mb-5">
                      <input class="form-control flex-1" id="email" type="email" placeholder="Email"
                        formControlName="email" />
                        <div class="label-error mt-1" *ngIf="forgotPasswordForm['controls']['email'].dirty">
                          <div *ngIf="forgotPasswordForm.get('email')?.hasError('required')" class="text-danger">
                            <small>Email là trường bắt buộc.</small>
                          </div>
                          <div *ngIf="forgotPasswordForm.get('email')?.hasError('email')" class="text-danger">
                            <small>Email không đúng định dạng.</small>
                          </div>
                        </div>
                      <button class="btn btn-primary ms-2" type="submit" [disabled]="forgotPasswordForm.invalid" #btnSubmit>Gửi</button>
                      <div class="spinner-border text-primary d-none ms-2" role="status" #btnSubmitLoading>
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>