<div class="col-xl-4 mt-10 mb-10 m-auto">
  <div class="row g-2">
    <div class="col-12 col-xl-12">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row flex-center">
            <div>
              <div class="text-center mb-5">
                <div *ngIf="isSuccessful" class="avatar avatar-4xl mb-4 border rounded-circle bg-success align-content-center">
                  <span class="fa-solid fa-check fs-3 text-white m-auto"></span>
                </div>
                <div *ngIf="!isSuccessful" class="avatar avatar-4xl mb-4 border rounded-circle bg-danger align-content-center">
                  <span class="fa-solid fa-times fs-3 text-white m-auto"></span>
                </div>
                <h2 class="text-body-highlight mb-3">
                  <span class="fw-semibold">{{titleNotification}}</span>
                </h2>
                <h5 class="text-body-highlight">
                  <span class="fw-normal">{{descriptionNotification}}</span>
                </h5>
              </div>
              <div class="row">
                <div class="col-6">
                  <a class="btn btn-outline-black w-100" href="/">Tiếp tục mua hàng</a>
                </div>
                <div class="col-6">
                  <a class="btn btn-black w-100" href="/order/{{orderId}}">Xem chi tiết đơn hàng</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>