<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a [routerLink]="['/admin']">Trang chủ</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/admin/return-product']">Quản lý phiếu đổi trả</a></li>
    <li class="breadcrumb-item active">{{titleString}}</li>
  </ol>
</nav>
<form [formGroup]="returnForm" (submit)="onSubmit()">
  <div class="row g-3 flex-between-end mb-5">
    <div class="col-auto">
      <h2 class="mb-2">{{titleString}}</h2>
    </div>
    <div class="col-auto">
      <a class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0" type="button" [routerLink]="['/admin/return-product']">
        Quay lại
      </a>
      <button class="btn btn-primary mb-2 mb-sm-0" type="submit" [disabled]="returnForm.invalid">
        <span>{{ btnSave }}</span>
      </button>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-12 col-lg-8">
      <div class="card mt-3 mt-lg-0">
        <div class="card-body">
          <div>
            <h4 class="mb-3">Đơn hàng <span class="text-danger">*</span></h4>
            <ng-select [clearable]="false" style="min-width: 150px;" placeholder="Chọn đơn hàng"
              formControlName="orderId">
              <ng-option *ngFor="let item of orderCompleted" [value]="item.id">
                <span class="text-primary fw-semibold">#{{ item.id }}</span> - {{ item.createdDate | date: 'dd/MM/yyyy'
                }} - {{item.customerName}}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="card mt-3 d-none" #cartBottom>
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Sản phẩm trong đơn</h4>
          </div>
          <div class="border-dashed border-bottom border-translucent mt-4 pb-3">
            <div>
              <div class="row align-items-center mb-2 g-3" *ngFor="let item of order?.orderDetails">
                <div class="col-7 col-md-7 col-lg-7">
                  <a class="text-decoration-none">
                    <div class="d-flex align-items-center">
                      <img class="me-2" src="{{baseUrl}}/images/{{item?.productThumbnail}}" width="40" alt="" />
                      <h6 class="fw-semibold text-body-highlight lh-base">
                        <span class="text-primary">{{item?.productName}}</span>
                        <br>
                        <span class="fs-9 fw-semibold" *ngIf="item?.salePrice === null">{{item?.productPrice |
                          currencyFormat:'VND'}}</span>
                        <span class="fs-9" *ngIf="item?.salePrice !== null">
                          <del>{{item?.productPrice | currencyFormat:'VND'}}</del>
                          <span class="ms-2 text-danger-dark fw-semibold">{{item?.salePrice |
                            currencyFormat:'VND'}}</span>
                        </span>
                        <br>
                        <span class="fs-9 text-black-50">{{item?.productColor}} - {{item?.productSize}}</span>
                      </h6>
                    </div>
                  </a>
                </div>
                <div class="col-2 col-md-2 col-lg-2 text-center">
                  <h6 class="fs-9 mb-0">x{{item?.quantity}}</h6>
                  <h6 *ngIf="item?.quantityReturned > 0" class="fs-10 mb-0 badge badge-phoenix badge-phoenix-danger text-default">Đã trả x{{item?.quantityReturned}}</h6>
                </div>
                <div class="col-3 col-md-3 col-lg-3 ps-0">
                  <h6 class="mb-0 fw-semibold text-end">{{item?.totalPrice | currencyFormat:
                    'VND'}}</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="border-dashed border-bottom border-translucent mt-4">
            <div class="d-flex justify-content-between mb-2">
              <h6 class="text-body fw-semibold">Tổng tiền hàng ({{order?.totalQuantity}} sản phẩm) :</h6>
              <h6 class="text-body-emphasis fw-semibold">{{order?.totalMoney | currencyFormat: 'VND'}}</h6>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <h6 class="text-body fw-semibold">Phí vận chuyển :</h6>
              <h6 class="text-body-emphasis fw-semibold">{{order?.total_fee | currencyFormat: 'VND'}}</h6>
            </div>
            <div *ngIf="order?.totalDiscount > 0" class="d-flex justify-content-between mb-3">
              <h6 class="text-body fw-semibold">Khuyến mãi :</h6>
              <h6 class="text-danger fw-semibold">- {{order?.totalDiscount | currencyFormat: 'VND'}}</h6>
            </div>
          </div>
          <div class="d-flex justify-content-between border-dashed-y pt-3">
            <h5 class="mb-0">Thành tiền :</h5>
            <h5 class="mb-0 text-danger">{{order?.totalMoney + order?.total_fee - order?.totalDiscount | currencyFormat:
              'VND'}}
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 ps-lg-0">
      <div class="d-none" #cartRight>
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Thông tin chung <span class="text-primary">#{{order?.id}}</span></h4>
              <ng-container>
                <span class="badge badge-phoenix badge-phoenix-success fw-semibold align-middle fs-9">
                  <span class="fw-semibold align-middle fs-9 ms-1">
                    Đã giao
                  </span>
                </span>
              </ng-container>
            </div>
            <div class="mt-5">
              <div class="d-flex justify-content-between mb-2">
                <h6 class="text-body fw-normal">Thời gian đặt hàng:</h6>
                <h6 class="text-body-emphasis fw-semibold">{{order?.createdDate | date: 'dd/MM/yyyy HH:mm'}}</h6>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <h6 class="text-body fw-normal">Thời gian hoàn thành:</h6>
                <h6 class="text-body-emphasis fw-semibold">{{order?.completedDate | date: 'dd/MM/yyyy HH:mm'}}</h6>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <h6 class="text-body fw-normal">Phương thức thanh toán:</h6>
                <h6 class="text-primary fw-semibold">
                  <div class="text-body-secondary mb-0" [ngSwitch]="order?.paymentMethod">
                    <span *ngSwitchCase="0">Thanh toán khi nhận hàng (COD)</span>
                    <span *ngSwitchCase="1">Thanh toán qua VNPAY</span>
                  </div>
                </h6>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <h6 class="text-body fw-normal">Trạng thái thanh toán:</h6>
                <h6 class="text-primary fw-semibold">
                  <span *ngIf="order?.paymentStatus">
                    <i class="far fa-check-circle text-success me-1"></i>
                  </span>
                  <span *ngIf="!order?.paymentStatus">
                    <i class="far fa-times-circle text-danger me-1"></i>
                  </span>
                  <span
                    [ngClass]="{'fw-semibold text-danger': !order?.paymentStatus, 'fw-semibold text-success': order?.paymentStatus}">
                    {{order?.paymentStatus ? 'Đã thanh toán' : 'Chưa thanh toán'}}</span>
                </h6>
              </div>
              <div class="d-flex justify-content-between mb-2" *ngIf="order?.paymentStatus">
                <h6 class="text-body fw-normal">Thời gian thanh toán:</h6>
                <h6 class="text-body-emphasis fw-semibold">{{order?.paymentDate | date: 'dd/MM/yyyy HH:mm'}}</h6>
              </div>
              <div class="d-flex justify-content-between mb-2" *ngIf="order?.employeeId">
                <h6 class="text-body fw-normal">Nhân viên xử lý đơn:</h6>
                <h6 class="fw-semibold text-primary mb-2 cursor-pointer">
                  <span (click)="goEmployeeDetail(order?.employeeId)">{{order?.employeeName}}</span>
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Khách hàng</h4>
            </div>
            <div class="border-dashed border-bottom border-translucent">
              <div class="pt-4 pb-1">
                <h6 class="fw-semibold text-primary mb-2">
                  <a [routerLink]="['/admin/customer', order?.customerId]"><span>{{order?.name}}</span></a>
                </h6>
                <h6 class="fw-normal text-body-secondary mb-2">
                  <span>Email: {{order?.customerEmail}}</span>
                </h6>
              </div>
            </div>
            <div class="mt-3 d-flex align-items-center justify-content-between">
              <h5 class="mb-0">Thông tin giao hàng</h5>
            </div>
            <div>
              <div class="pt-4">
                <h6 class="fw-bold text-body-secondary mb-2">
                  <span>{{order?.name}}</span>
                </h6>
                <h6 class="fw-normal text-body-secondary mb-2">
                  <span>{{order?.phone}}</span>
                </h6>
                <h6 class="fw-normal text-body-secondary">
                  <span style="line-height: initial;">{{order?.address}}</span>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-12 col-lg-12 mb-6">
      <div class="card mt-3">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Hoàn trả</h4>
          </div>
          <div class="table-responsive-x scrollbar-overlay mx-n1 px-1">
            <table class="table table-sm fs-9 mb-0">
              <thead>
                <tr>
                  <th class="align-middle pe-5 text-start pb-3 pt-3" scope="col" style="width:30%;" nowrap>
                    SẢN PHẨM <span class="text-danger">*</span>
                  </th>
                  <th class="sort align-middle pe-5 text-start pb-3 pt-3" scope="col" style="width:10%;" nowrap>
                    ĐƠN GIÁ <span class="text-danger">*</span>
                  </th>
                  <th class="sort align-middle pe-5 text-start pb-3 pt-3" scope="col" style="width:10%;" nowrap>
                    SỐ LƯỢNG <span class="text-danger">*</span>
                  </th>
                  <th class="sort align-middle pe-5 text-start pb-3 pt-3" scope="col" style="width:15%;" nowrap>
                    THÀNH TIỀN
                  </th>
                  <th class="sort align-middle pe-5 text-start pb-3 pt-3" scope="col" style="width:10%;" nowrap>
                    LOẠI <span class="text-danger">*</span>
                  </th>
                  <th class="sort align-middle pe-5 text-start pb-3 pt-3" scope="col" style="width:20%;" nowrap>
                    LÝ DO
                  </th>
                  <th class="sort align-middle pe-5 text-center pb-3 pt-3" scope="col" style="width:5%;">
                  </th>
                </tr>
              </thead>
              <tbody formArrayName="returnProductDetails">
                <tr *ngFor="let returnProductDetails of returnProductDetails.controls; let i = index"
                  [formGroupName]="i">
                  <td class="pt-2 pb-2">
                    <ng-select [clearable]="false" appendTo="body" placeholder="Sản phẩm"
                      formControlName="productDetailsId" [formControl]="getProductItem(i)">
                      <ng-option *ngFor="let item of listProductInOrder" [value]="item.productDetailsId">
                        {{ item.productName }} - {{ item.productColor }} - {{ item.productSize }}
                      </ng-option>
                    </ng-select>
                  </td>
                  <td class="pt-2 pb-2">
                    <input class="form-control" type="text" readonly placeholder="Đơn giá" formControlName="price" />
                  </td>
                  <td class="pt-2 pb-2">
                    <input class="form-control" type="number" placeholder="Số lượng" min="1" formControlName="quantity"
                      (keydown)="onKeyDown($event, i)" />
                    <div class="label-error mt-1" *ngIf="returnProductDetails.get('quantity')?.dirty">
                      <span *ngIf="returnProductDetails.get('quantity')?.hasError('required')">
                        <small>Số lượng là trường bắt buộc.</small>
                      </span>
                      <span *ngIf="checkQuantity(i)">
                        <small>Quá số lượng đã mua</small>
                      </span>
                      <span
                        *ngIf="returnProductDetails.get('quantity')?.hasError('max') || returnProductDetails.get('quantity')?.hasError('min')">
                        <small>Số lượng phải từ 1 đến 1000.</small>
                      </span>
                    </div>
                  </td>
                  <td class="pt-2 pb-2">
                    <div class="form-control">{{ getTotalPrice()[i] | currencyFormat:'VND'}}</div>
                  </td>
                  <td class="pt-2 pb-2">
                    <select class="form-select" formControlName="returnType">
                      <option [value]="false">Đổi</option>
                      <option [value]="true">Trả</option>
                    </select>
                    <div class="label-error mt-1" *ngIf="returnProductDetails.get('returnType')?.dirty">
                      <span *ngIf="returnProductDetails.get('returnType')?.hasError('required')">
                        <small>Loại là trường bắt buộc.</small>
                      </span>
                    </div>
                  </td>
                  <td class="pt-2 pb-2">
                    <input class="form-control" type="text" placeholder="Lý do đổi trả" formControlName="reason" />
                    <div class="label-error mt-1" *ngIf="returnProductDetails.get('reason')?.dirty">
                      <span
                        *ngIf="returnProductDetails.get('reason')?.hasError('maxlength')">
                        <small>Lý do không được vượt quá 100 ký tự.</small>
                      </span>
                    </div>
                  </td>
                  <td class="pt-2 pb-2">
                    <button class="fw-bold fs-9 btn btn-phoenix-danger" href="javascript:void(0);"
                      (click)="removeProductDetails(i)">Xóa</button>
                  </td>
                </tr>
                <tr>
                  <td class="align-middle white-space-nowrap pe-5 text-end fw-bold pb-3 pt-3">
                    <p class="mb-0 text-truncate fs-9 text-start">Tổng tiền trả khách: </p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="align-middle white-space-nowrap pe-1 text-end fw-bold text-success pb-3 pt-3">
                    <p class="mb-0 text-truncate fs-9">{{totalMoney | currencyFormat:'VND'}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="btn btn-outline-primary w-100 mt-4" type="button" (click)="addNewDetails()" disabled #btnAddReturn>
            Thêm sản phẩm
          </button>
        </div>
      </div>
    </div>
  </div>
</form>