<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a [routerLink]="['/admin']">Trang chủ</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/admin/receipt']">Quản lý hóa đơn nhập</a></li>
    <li class="breadcrumb-item active">{{titleString}}</li>
  </ol>
</nav>
<form [formGroup]="returnForm" (submit)="onSubmit()">
  <div class="row g-3 flex-between-end mb-5">
    <div class="col-auto">
      <h2 class="mb-2">{{titleString}}</h2>
    </div>
    <div class="col-auto">
      <a class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0" type="button" [routerLink]="['/admin/return-product']">
        Quay lại
      </a>
      <button class="btn btn-primary mb-2 mb-sm-0" type="submit" [disabled]="returnForm.invalid">
        <span>{{ btnSave }}</span>
        <!-- <span class="indicator-progress">
          Vui lòng chờ...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span> -->
      </button>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-12 col-lg-6">
      <div class="card mt-3 mt-lg-0">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Mã đơn đặt hàng</h4>
            <ng-select style="min-width: 150px;" placeholder="Chọn đơn hàng" formControlName="orderId">
              <ng-option *ngFor="let item of orderCompleted" [value]="item.id">
                {{ item.id }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Đơn hàng</h4>
          </div>
          <div class="border-dashed border-bottom border-translucent mt-4 pb-3">
            <div class="ms-n2">
              <div class="row align-items-center mb-2 g-3" *ngFor="let item of order?.orderDetails">
                <div class="col-7 col-md-7 col-lg-7">
                  <a href="/admin/product/{{item?.productId}}" class="text-decoration-none">
                    <div class="d-flex align-items-center">
                      <img class="me-2 ms-1" src="{{baseUrl}}/images/{{item?.productThumbnail}}" width="40" alt="" />
                      <h6 class="fw-semibold text-body-highlight lh-base">
                        <span class="text-primary">{{item?.productName}}</span>
                        <br>
                        <span class="fs-9 fw-semibold" *ngIf="item?.salePrice === null">{{item?.productPrice |
                          currencyFormat:'VND'}}</span>
                        <span class="fs-9" *ngIf="item?.salePrice !== null">
                          <del>{{item?.productPrice | currencyFormat:'VND'}}</del>
                          <span class="ms-2 text-danger-dark fw-semibold">{{item?.salePrice |
                            currencyFormat:'VND'}}</span>
                        </span>
                        <br>
                        <span class="fs-9 text-black-50">{{item?.productColor}} - {{item?.productSize}}</span>
                      </h6>
                    </div>
                  </a>
                </div>
                <div class="col-2 col-md-2 col-lg-2">
                  <h6 class="fs-9 mb-0">x{{item?.quantity}}</h6>
                </div>
                <div class="col-3 col-md-3 col-lg-3 ps-0">
                  <h6 class="mb-0 fw-semibold text-end">{{item?.totalPrice | currencyFormat:
                    'VND'}}</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="border-dashed border-bottom border-translucent mt-4">
            <div class="d-flex justify-content-between mb-2">
              <h6 class="text-body fw-semibold">Tổng tiền hàng ({{order?.totalQuantity}} sản phẩm) :</h6>
              <h6 class="text-body-emphasis fw-semibold">{{order?.totalMoney | currencyFormat: 'VND'}}</h6>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <h6 class="text-body fw-semibold">Phí vận chuyển :</h6>
              <h6 class="text-body-emphasis fw-semibold">{{order?.total_fee | currencyFormat: 'VND'}}</h6>
            </div>
            <div *ngIf="order?.totalDiscount > 0" class="d-flex justify-content-between mb-3">
              <h6 class="text-body fw-semibold">Khuyến mãi :</h6>
              <h6 class="text-danger fw-semibold">- {{order?.totalDiscount | currencyFormat: 'VND'}}</h6>
            </div>
          </div>
          <div class="d-flex justify-content-between border-dashed-y pt-3">
            <h5 class="mb-0">Thành tiền :</h5>
            <h5 class="mb-0 text-danger">{{order?.totalMoney + order?.total_fee - order?.totalDiscount | currencyFormat: 'VND'}}
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 p-lg-0">
      <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Khách hàng</h4>
            </div>
            <div class="border-dashed border-bottom border-translucent">
              <div class="pt-4 pb-1">
                <h6 class="fw-semibold text-primary mb-2">
                  <a [routerLink]="['/admin/customer', order?.customerId]"><span>{{order?.name}}</span></a>
                </h6>
                <h6 class="fw-normal text-body-secondary mb-2">
                  <span>Email: {{order?.customerEmail}}</span>
                </h6>
                <h6 class="fw-normal text-body-secondary mb-2">
                  <span>Ngày tạo tài khoản: {{order?.customerCreatedDate | date: 'dd/MM/yyyy'}}</span>
                </h6>
              </div>
            </div>
            <div class="mt-3 d-flex align-items-center justify-content-between">
              <h5 class="mb-0">Thông tin giao hàng</h5>
            </div>
            <div class="border-dashed border-bottom border-translucent">
              <div class="pt-4">
                <h6 class="fw-bold text-body-secondary mb-2">
                  <span>{{order?.name}}</span>
                </h6>
                <h6 class="fw-normal text-body-secondary mb-2">
                  <span>{{order?.phone}}</span>
                </h6>
                <h6 class="fw-normal text-body-secondary mb-2">
                  <span style="line-height: initial;">{{order?.address}}</span>
                </h6>
              </div>
            </div>
            <div class="mt-3 d-flex align-items-center justify-content-between">
              <h5 class="mb-0">Thông tin đơn vị vận chuyển</h5>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div class="pt-4">
                <h6 class="fw-bold text-body-secondary mb-2">
                  <span>{{order?.carrier_name}}</span>
                </h6>
                <h6 class="fw-normal text-body-secondary mb-2">
                  <span>Loại: {{order?.service}}</span>
                </h6>
              </div>
              <img class="h-100 pt-4 align-middle" src="{{order?.carrier_logo}}"
                  style="width: 60px; height: 60px;" alt="carrier_logo">
            </div>
          </div>
      </div>
    </div>
  </div>
</form>