<main class="main" id="top">
  <div class="container-fluid bg-body-tertiary dark__bg-gray-1200">
    <div class="bg-holder bg-auth-card-overlay" style="background-image:url(../../../assets/img/bg/37.png);"></div>
    <!--/.bg-holder-->
    <div class="row flex-center position-relative min-vh-100 g-0 py-5">
      <div class="col-sm-4">
        <div class="card border border-translucent auth-card">
          <div class="card-body">
            <div class="row align-items-center gx-0 gy-7">
              <div class="col mx-auto">
                <div class="auth-form-box">
                  <div class="text-center mb-5">
                    <a class="d-flex flex-center text-decoration-none mb-4" href="/">
                      <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img
                          src="../../../assets/logo.png" alt="phoenix" width="58" /></div>
                    </a>
                    <h3 class="text-body-highlight">Đặt lại mật khẩu</h3>
                    <p class="text-body-tertiary">Nhập đầy đủ thông tin để đặt lại mật khẩu của bạn</p>
                  </div>
                  <form [formGroup]="resetPasswordForm" (submit)="onSubmit()">
                    <div class="mb-3 text-start">
                      <label class="form-label" for="password">Mật khẩu mới</label><span class="text-danger fs-9">
                        *</span>
                      <input class="form-control form-icon-input" id="password" type="password" placeholder="Mật khẩu"
                        [ngClass]="{'border-danger': (resetPasswordForm.get('newPassword')?.hasError('minlength')
                        || resetPasswordForm['controls']['newPassword'].errors?.['required']) && resetPasswordForm['controls']['newPassword'].dirty}"
                        formControlName="newPassword" />
                      <div class="label-error mt-1" *ngIf="resetPasswordForm['controls']['newPassword'].dirty">
                        <div *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')" class="text-danger">
                          <small>Mật khẩu là trường bắt buộc.</small>
                        </div>
                        <div *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')" class="text-danger">
                          <small>Mật khẩu phải có ít nhất 6 ký tự.</small>
                        </div>
                        <div *ngIf="resetPasswordForm.get('newPassword')?.hasError('maxlength')" class="text-danger">
                          <small>Mật khẩu không được quá 30 ký tự.</small>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3 text-start">
                      <label class="form-label" for="code">Mã xác minh</label><span class="text-danger fs-9"> *</span>
                      <input class="form-control" id="code" type="text" placeholder="Mã xác minh"
                        [ngClass]="{'border-danger': (resetPasswordForm.get('code')?.hasError('minlength')
                        || resetPasswordForm.get('code')?.hasError('maxlength')
                        || resetPasswordForm['controls']['code'].errors?.['required']) && resetPasswordForm['controls']['code'].dirty}"
                        formControlName="code" />
                      <div class="label-error mt-1" *ngIf="resetPasswordForm['controls']['code'].dirty">
                        <div *ngIf="resetPasswordForm.get('code')?.hasError('required')" class="text-danger">
                          <small>Mã xác minh là trường bắt buộc.</small>
                        </div>
                        <div *ngIf="resetPasswordForm.get('code')?.hasError('minlength') || resetPasswordForm.get('code')?.hasError('maxlength')" class="text-danger">
                          <small>Mã xác minh chỉ có 6 ký tự số.</small>
                        </div>
                        <div *ngIf="resetPasswordForm.get('code')?.hasError('pattern')" class="text-danger">
                          <small>Mã xác minh chỉ có thể là số.</small>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary w-100 mb-3 mt-3" type="submit" [disabled]="resetPasswordForm.invalid"
                      #btnSubmit>Đặt lại mật khẩu</button>
                    <button class="btn btn-primary w-100 mb-3 d-none" type="submit" [disabled]="true" #btnSubmitLoading>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Vui lòng chờ...
                    </button>
                    <div class="text-center">
                      <p class="fs-9 mb-3 mt-3">Bạn không nhận được mã? <a class="text-primary" (click)="reSendForgotPassword()" #reSend>Gửi lại mã</a></p>
                      <div class="spinner-border text-info d-none" role="status" #reSendLoading></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>