<section class="pt-5 pb-9">
  <div class="container-small">
    <nav class="mb-2" aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cá nhân</li>
      </ol>
    </nav>
    <div class="row align-items-center justify-content-between g-3 mb-4">
      <div class="col-auto">
        <h2 class="mb-0">Cá nhân</h2>
      </div>
      <div class="col-auto">
        <div class="row g-2 g-sm-3">
          <div class="col-auto">
            <button class="btn btn-phoenix-secondary" type="button" data-bs-toggle="modal"
              data-bs-target="#tooltipModal2" (click)="openModal()">
              <span class="fas fa-key me-2"></span>Cập nhật thông tin
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-3 mb-6">
      <div class="col-12 col-lg-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="border-bottom border-dashed pb-4">
              <div class="row align-items-center g-3 g-sm-5 text-center text-sm-start">
                <div class="col-12 col-sm-auto flex-1 text-center">
                  <h3 class="mb-5 mt-2">{{profile?.name}}</h3>
                  <p class="text-body-secondary mt-3 fs-9">
                    <i class="fas fa-phone me-2"></i>
                    <span *ngIf="profile?.phone !== null">{{profile?.phone}}</span>
                    <span *ngIf="profile?.phone === null" class="text-black-50">Trống</span>
                  </p>
                  <p class="text-body-secondary mt-3 fs-9">
                    <i class="fas fa-envelope me-2"></i>
                    <span class="lh-1" *ngIf="profile?.account?.email !== null">{{profile?.account?.email}}</span>
                    <span class="lh-1" *ngIf="profile?.account?.email === null" class="text-black-50">Trống</span>
                  </p>
                  <p class="text-body-secondary mt-3 fs-9">
                    <i class="fas fa-map-marker-alt me-2"></i>
                    <span class="lh-1"
                      *ngIf="profile?.city !== null && profile?.district !== null && profile?.ward !== null && profile?.addressDetail !== null">
                      {{profile?.addressDetail}}, {{profile?.ward}}, {{profile?.district}}, {{profile?.city}}
                    </span>
                    <span class="lh-1"
                      *ngIf="profile?.city === null && profile?.district === null && profile?.ward === null && profile?.addressDetail === null"
                      class="text-black-50">Trống</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="d-flex flex-between-center pt-4">
              <div>
                <h6 class="mb-2 text-body-secondary">Total Spent</h6>
                <h4 class="fs-7 text-body-highlight mb-0">$894</h4>
              </div>
              <div class="text-end">
                <h6 class="mb-2 text-body-secondary">Last Order</h6>
                <h4 class="fs-7 text-body-highlight mb-0">1 week ago</h4>
              </div>
              <div class="text-end">
                <h6 class="mb-2 text-body-secondary">Total Orders</h6>
                <h4 class="fs-7 text-body-highlight mb-0">97 </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="scrollbar">
        <ul class="nav nav-underline fs-9 flex-nowrap mb-3 pb-1" id="myTab" role="tablist">
          <li class="nav-item me-3">
            <a class="nav-link text-nowrap active" id="orders-tab-all" data-bs-toggle="tab" href="#tab-orders-all"
              role="tab" aria-controls="tab-orders-all" aria-selected="true">
              <span class="fas fa-shopping-cart me-2"></span>
              Tất cả đơn hàng
              <span class="text-body-tertiary fw-normal">(35)</span>
            </a>
          </li>
          <li class="nav-item me-3" (click)="findByStatus('0')">
            <a class="nav-link text-nowrap" id="orders-tab-all" data-bs-toggle="tab" href="#tab-orders-all"
              role="tab" aria-controls="tab-orders-all" aria-selected="true">
              <span class="fas fa-clock me-2"></span>
              Chờ xác nhận
              <span class="text-body-tertiary fw-normal">(35)</span>
            </a>
          </li>
          <li class="nav-item me-3" (click)="findByStatus('1')">
            <a class="nav-link text-nowrap" id="orders-tab-all" data-bs-toggle="tab" href="#tab-orders-all"
              role="tab" aria-controls="tab-orders-all" aria-selected="true">
              <span class="fas fa-check-circle me-2"></span>
              Chờ lấy hàng
              <span class="text-body-tertiary fw-normal">(35)</span>
            </a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-nowrap" id="orders-tab-delivering" data-bs-toggle="tab"
              href="#tab-orders-delivering" role="tab" aria-controls="tab-orders-delivering" aria-selected="true">
              <span class="fas fa-shipping-fast me-2"></span>
              Đang giao hàng
              <span class="text-body-tertiary fw-normal">(35)</span>
            </a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-nowrap" id="orders-tab-delivered" data-bs-toggle="tab" href="#tab-orders-delivered"
              role="tab" aria-controls="tab-orders-delivered" aria-selected="true">
              <span class="fas fa-truck me-2"></span>
              Đã giao
              <span class="text-body-tertiary fw-normal">(35)</span>
            </a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-nowrap" id="orders-tab-cancelled" data-bs-toggle="tab" href="#tab-orders-cancelled"
              role="tab" aria-controls="tab-orders-cancelled" aria-selected="true">
              <span class="fas fa-window-close me-2"></span>
              Đã hủy
              <span class="text-body-tertiary fw-normal">(35)</span>
            </a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-nowrap" id="orders-tab-paid" data-bs-toggle="tab" href="#tab-orders-paid" role="tab"
              aria-controls="tab-orders-paid" aria-selected="true">
              <span class="fas fa-undo me-2"></span>
              Trả hàng
              <span class="text-body-tertiary fw-normal">(35)</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="profileTabContent">
        <div class="tab-pane fade show active" id="tab-orders-all" role="tabpanel" aria-labelledby="orders-tab-all">
          <div class="border-top border-bottom border-translucent">
            <div class="table-responsive scrollbar">
              <table class="table fs-9 mb-0">
                <thead>
                  <tr>
                    <th class="sort white-space-nowrap align-middle pe-3 ps-0" scope="col"
                      style="width:15%; min-width:140px">ĐƠN HÀNG</th>
                    <th class="sort align-middle pe-3" scope="col" style="width:15%; min-width:180px">TRẠNG THÁI</th>
                    <th class="sort align-middle text-start" scope="col" style="width:20%; min-width:160px">PHƯƠNG THỨC
                      THANH TOÁN</th>
                    <th class="sort align-middle pe-0 text-end" scope="col" style="width:15%; min-width:160px">THỜI GIAN
                      ĐẶT HÀNG</th>
                    <th class="sort align-middle text-end" scope="col" style="width:15%; min-width:160px">TỔNG TIỀN</th>
                    <th class="align-middle pe-0 text-end" scope="col" style="width:15%;"> </th>
                  </tr>
                </thead>
                <tbody *ngIf="paginationModel.totalElements !== 0">
                  <tr class="hover-actions-trigger btn-reveal-trigger position-static"
                    *ngFor="let item of paginationModel.content">
                    <td class="order align-middle white-space-nowrap py-2 ps-0">
                      <a class="fw-semibold text-primary" href="#!">#{{item.id}}</a>
                    </td>
                    <td class="status align-middle white-space-nowrap text-start fw-bold text-body-tertiary py-2">
                      <span class="badge badge-phoenix fs-10" [ngClass]="{
                        'badge-phoenix-warning': item.orderStatus === 0,
                        'badge-phoenix-info': item.orderStatus === 1,
                        'badge-phoenix-primary': item.orderStatus === 2,
                        'badge-phoenix-success': item.orderStatus === 3,
                        'badge-phoenix-danger': item.orderStatus === 4,
                        'badge-phoenix-secondary': item.orderStatus === 5
                      }">
                        <ng-container [ngSwitch]="item.orderStatus">
                          <span *ngSwitchCase="0" class="badge-label">Chờ xác nhận</span>
                          <span *ngSwitchCase="1" class="badge-label">Đã xác nhận</span>
                          <span *ngSwitchCase="2" class="badge-label">Đang giao hàng</span>
                          <span *ngSwitchCase="3" class="badge-label">Đã giao</span>
                          <span *ngSwitchCase="4" class="badge-label">Đã hủy</span>
                          <span *ngSwitchCase="5" class="badge-label">Đã trả hàng</span>
                        </ng-container>
                      </span>
                    </td>
                    <td class="delivery align-middle white-space-nowrap text-body py-2" [ngSwitch]="item.paymentMethod">
                      <span *ngSwitchCase="0">Thanh toán khi nhận hàng</span>
                      <span *ngSwitchCase="1">Thanh toán qua VNPAY</span>
                    </td>
                    <td class="total align-middle text-body-tertiary text-end py-2">{{item.createdDate |
                      date:'dd/MM/yyyy - HH:mm' }}</td>
                    <td class="date align-middle fw-semibold text-end py-2 text-body-highlight">{{item.totalSaleMoney |
                      currencyFormat:'VND'}}</td>
                    <td class="align-middle text-end white-space-nowrap pe-0 action py-2">
                      <div class="btn-reveal-trigger position-static"><button
                          class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal"
                          type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                          aria-expanded="false" data-bs-reference="parent"><span
                            class="fas fa-ellipsis-h fs-10"></span></button>
                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a
                            class="dropdown-item" href="#!">Export</a>
                          <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="paginationModel.totalElements == 0">
                  <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                    <td colspan="8" class="fs-9 align-middle ps-0 py-3 text-center">
                      <span>Không có bản ghi nào</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
              <div class="col-auto d-flex mt-1">
                <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                  <select class="form-select form-select-sm form-select-solid"
                    (change)="changePageSize(paginationModel.pageSize)" [(ngModel)]="paginationModel.pageSize">
                    <option value="5" [selected]="paginationModel.pageSize === 5">5</option>
                    <option value="10" [selected]="paginationModel.pageSize === 10">10</option>
                    <option value="25" [selected]="paginationModel.pageSize === 25">25</option>
                    <option value="50" [selected]="paginationModel.pageSize === 50">50</option>
                    <option value="100" [selected]="paginationModel.pageSize === 100">100</option>
                    <option *ngIf="paginationModel.totalElements > 100" [value]="paginationModel.totalElements"
                      [selected]="paginationModel.pageSize === paginationModel.totalElements">
                      Tất cả ({{paginationModel.totalElements}})
                    </option>
                  </select>
                </div>
                <div class="col-auto d-flex align-items-center">
                  <p class="mb-0 ms-2 d-none d-sm-block me-3 fw-semibold text-body">Hiển thị
                    {{paginationModel.startNumberItem}} đến
                    {{paginationModel.endNumberItem}}
                    <span class="text-body-tertiary"> mục trong tổng số </span>{{paginationModel.totalElements}} mục
                  </p>
                </div>
              </div>
              <div class="col-auto d-flex mt-1">
                <button class="page-link" [ngClass]="{'disabled': paginationModel.pageFirst}"
                  (click)="changePageNumber(1)">
                  <i class="fas fa-angle-double-left"></i>
                </button>
                <ul class="mb-0 pagination">
                  <li class="page-item" *ngFor="let page of paginationModel.pageNumbers"
                    [class.active]="page === paginationModel.pageNumber">
                    <button type="button" class="page-link" (click)="changePageNumber(page)">{{page}}</button>
                  </li>
                </ul>
                <button class="page-link pe-0" [ngClass]="{'disabled': paginationModel.pageLast}"
                  (click)="changePageNumber(paginationModel.totalPages)">
                  <i class="fas fa-angle-double-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->
</section>

<div class="modal fade" id="tooltipModal2" tabindex="-1" aria-labelledby="tooltipModalLabel" style="display: none;"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tooltipModalLabel">Cập nhật thông tin</h5>
        <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="resetText()">
          <span class="fas fa-times fs-9"></span>
        </button>
      </div>
      <form [formGroup]="profileForm" (submit)="onSubmit()">
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Họ tên</label>
                <span class="text-danger"> *</span>
                <input class="form-control" id="name" type="text" placeholder="Họ tên" formControlName="name" />
                <div class="label-error mt-1" *ngIf="profileForm['controls']['name'].dirty">
                  <span *ngIf="profileForm['controls']['name'].errors?.['required']">
                    <small>Trường bắt buộc.</small>
                  </span>
                  <span *ngIf="profileForm['controls']['name'].errors?.['maxlength']">
                    <small>Tối đa 30 ký tự.</small>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Số điện thoại</label>
                <span class="text-danger"> *</span>
                <input class="form-control" id="phone" type="text" placeholder="Số điện thoại"
                  formControlName="phone" />
                <div class="label-error mt-1" *ngIf="profileForm['controls']['phone'].dirty">
                  <span *ngIf="profileForm['controls']['phone'].errors?.['required']">
                    <small>Trường bắt buộc.</small>
                  </span>
                  <span *ngIf="profileForm['controls']['phone'].errors?.['pattern']">
                    <small>Số điện thoại không đúng định dạng.</small>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Tỉnh/Thành phố</label><span class="text-danger">
              *</span>
            <ng-select placeholder="Tỉnh/Thành phố" formControlName="city" [formControl]="getDistrictsControl()">
              <ng-option *ngFor="let city of cities" [value]="city.name">
                {{ city.name }}
              </ng-option>
            </ng-select>
            <div class="label-error mt-1" *ngIf="profileForm['controls']['city'].dirty">
              <div *ngIf="profileForm.get('city')?.hasError('required')" class="text-danger">
                <small>Trường bắt buộc.</small>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Quận/Huyện</label>
            <span class="text-danger"> *</span>
            <ng-select placeholder="Quận/Huyện" formControlName="district" [formControl]="getWardsControl()">
              <ng-option *ngFor="let district of districts" [value]="district.name">
                {{ district.name }}
              </ng-option>
            </ng-select>
            <div class="label-error mt-1" *ngIf="profileForm['controls']['district'].dirty">
              <span *ngIf="profileForm['controls']['district'].errors?.['required']">
                <small>Trường bắt buộc.</small>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Phường/Xã/Thị trấn</label>
            <span class="text-danger"> *</span>
            <ng-select placeholder="Phường/Xã/Thị trấn" formControlName="ward">
              <ng-option *ngFor="let ward of wards" [value]="ward.name">
                {{ ward.name }}
              </ng-option>
            </ng-select>
            <div class="label-error mt-1" *ngIf="profileForm['controls']['ward'].dirty">
              <span *ngIf="profileForm['controls']['ward'].errors?.['required']">
                <small>Trường bắt buộc.</small>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Số nhà, Tên đường </label>
            <span class="text-danger"> *</span>
            <input class="form-control" id="address" type="text" placeholder="Số nhà, Tên đường"
              formControlName="addressDetail" />
            <div class="label-error mt-1" *ngIf="profileForm['controls']['addressDetail'].dirty">
              <span *ngIf="profileForm['controls']['addressDetail'].errors?.['required']">
                <small>Trường bắt buộc.</small>
              </span>
              <span *ngIf="profileForm['controls']['addressDetail'].errors?.['maxlength']">
                <small>Tối đa 100 ký tự.</small>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" [disabled]="profileForm.invalid">Cập nhật</button>
          <button class="btn btn-phoenix-secondary" type="button" data-bs-dismiss="modal" #btnCloseModal
            (click)="resetText()">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>