<section class="bg-body-highlight dark__bg-gray-1100 py-9">
  <div class="container-small">
    <div class="row justify-content-between gy-4">
      <div class="col-12 col-lg-4">
        <div class="d-flex align-items-center mb-3">
          <img src="../../../assets/img/icons/logonew.png" alt="Shoes Station" width="27" />
          <p class="logo-text ms-2">Shoes Station</p>
        </div>
        <p class="text-body-tertiary mb-1 fw-semibold lh-sm fs-9">Uy tín chất lượng hàng đầu Việt Nam</p>
      </div>
      <div class="col-6 col-md-auto">
        <h5 class="fw-bolder mb-3">Chính sách đổi trả</h5>
        <div class="d-flex flex-column">
          <a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Đổi trả miễn phí</a>
          <a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">7 ngày từ lúc nhận hàng</a>
        </div>
      </div>
      <div class="col-6 col-md-auto">
        <h5 class="fw-bolder mb-3">Hỗ trợ khách hàng</h5>
        <div class="d-flex flex-column">
          <a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Hỗ trợ 24/7</a>
        </div>
      </div>
      <div class="col-6 col-md-auto">
        <h5 class="fw-bolder mb-3">Phương thức thanh toán</h5>
        <div class="d-flex flex-column">
          <a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Thanh toán khi nhận hàng (COD)</a>
          <a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Thanh toán trực tuyến VNPAY</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <footer class="footer position-absolute">
  <div class="row g-0 justify-content-between align-items-center h-100">
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 mt-2 mt-sm-0 text-body">Shoes Station - Hệ thống quản lý bán hàng
        <span class="d-none d-sm-inline-block"></span>
        <span class="d-none d-sm-inline-block mx-1">|</span>
        <br class="d-sm-none" />2024 &copy;
        <a class="mx-1" href="/">Shoes Station</a>
      </p>
    </div>
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 text-body-tertiary text-opacity-85">v1.0</p>
    </div>
  </div>
</footer> -->