<section class="bg-body-highlight dark__bg-gray-1100 py-9">
  <div class="container-small">
    <div class="row justify-content-between gy-4">
      <div class="col-12 col-lg-4">
        <div class="d-flex align-items-center mb-3">
          <img src="../../../assets/img/icons/logonew.png" alt="Shoes Station" width="27" />
          <p class="logo-text ms-2">Shoes Station</p>
        </div>
        <p class="text-body-tertiary mb-1 fw-semibold fs-9" style="line-height: 2;">Cửa hàng phân phối các sản phẩm chất lượng. Cam kết uy tín hàng đầu, đền 10 lần nếu sản phẩm là hàng giả.</p>
      </div>
      <div class="col-6 col-md-auto">
        <h5 class="fw-bolder mb-3">Chính sách đổi trả</h5>
        <div class="d-flex flex-column">
          <a class="text-body-tertiary fw-semibold fs-9 mb-1">Đổi trả miễn phí</a>
          <a class="text-body-tertiary fw-semibold fs-9 mb-1">7 ngày từ lúc nhận hàng</a>
        </div>
      </div>
      <div class="col-6 col-md-auto">
        <h5 class="fw-bolder mb-3">Phương thức thanh toán</h5>
        <div class="d-flex flex-column">
          <a class="text-body-tertiary fw-semibold fs-9 mb-1">Thanh toán khi nhận hàng (COD)</a>
          <a class="text-body-tertiary fw-semibold fs-9 mb-1">Thanh toán trực tuyến VNPAY</a>
        </div>
      </div>
      <div class="col-6 col-md-auto">
        <h5 class="fw-bolder mb-3">Thông tin liên hệ</h5>
        <div class="d-flex flex-column">
          <a class="text-body-tertiary fw-semibold fs-9 mb-1">Địa chỉ: 97 Đặng Văn Ngữ, Đống Đa, Hà Nội</a>
          <a class="text-body-tertiary fw-semibold fs-9 mb-1">Hotline: (097) 609 6251</a>
          <a class="text-body-tertiary fw-semibold fs-9 mb-1">Email: support@shoesstation.vn</a>
        </div>
      </div>
    </div>
  </div>
</section>