<section class="pt-5 pb-9">
  <div class="container-small cart">
    <nav class="mb-2" aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="/order">Đơn hàng</a></li>
        <li class="breadcrumb-item active" aria-current="page">#{{order?.id}}</li>
      </ol>
    </nav>
    <div class="row align-items-center justify-content-between g-3 mb-4">
      <div class="col-auto">
        <h2>Chi tiết đơn hàng #{{order?.id}}</h2>
      </div>
      <div class="col-auto pe-0" *ngIf="order?.orderStatus < 2">
        <div class="row g-2 g-sm-3">
          <div class="col-auto pe-0" *ngIf="!order?.orderType && order?.paymentMethod == 1 && !order?.paymentStatus">
            <button class="btn btn-phoenix-success" type="button" (click)="repayment()">
              <i class="fas fa-money-bill-alt me-2"></i>Thanh toán lại
            </button>
          </div>
          <div class="col-auto pe-0">
            <button class="btn btn-phoenix-danger" type="button" data-bs-toggle="modal" data-bs-target="#tooltipModalCancelOrder">
              <i class="fas fa-times me-2"></i>Hủy đơn hàng
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row gy-9 gx-5">

      <!-- Thông tin đơn hàng -->
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Thông tin chung</h4>
              <ng-container [ngSwitch]="order?.orderStatus">
                <span *ngSwitchCase="0" class="badge badge-phoenix badge-phoenix-warning fw-semibold align-middle fs-9">
                  <span class="fw-semibold align-middle fs-9 ms-1 me-1">
                    Chờ xác nhận
                  </span>
                </span>
                <span *ngSwitchCase="1" class="badge badge-phoenix badge-phoenix-info fw-semibold align-middle fs-9">
                  <span class="fw-semibold align-middle fs-9 ms-1 me-1">
                    Đã xác nhận
                  </span>
                </span>
                <span *ngSwitchCase="2" class="badge badge-phoenix badge-phoenix-primary fw-semibold align-middle fs-9">
                  <span class="fw-semibold align-middle fs-9 ms-1 me-1">
                    Đang giao hàng
                  </span>
                </span>
                <span *ngSwitchCase="3" class="badge badge-phoenix badge-phoenix-success fw-semibold align-middle fs-9">
                  <span class="fw-semibold align-middle fs-9 ms-1 me-1">
                    Đã giao
                  </span>
                </span>
                <span *ngSwitchCase="4" class="badge badge-phoenix badge-phoenix-danger fw-semibold align-middle fs-9">
                  <span class="fw-semibold align-middle fs-9 ms-1 me-1">
                    Đã hủy
                  </span>
                </span>
                <span *ngSwitchCase="5" class="badge badge-phoenix badge-phoenix-secondary fw-semibold align-middle fs-9">
                  <span class="fw-semibold align-middle fs-9 ms-1 me-1">
                    Đã trả hàng
                  </span>
                </span>
              </ng-container>
            </div>
            <div class="mt-5">
              <div class="d-flex justify-content-between mb-2">
                <h6 class="text-body fw-normal">Thời gian đặt hàng:</h6>
                <h6 class="text-body-emphasis fw-semibold">{{order?.createdDate | date: 'dd/MM/yyyy HH:mm'}}</h6>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <h6 class="text-body fw-normal">Phương thức thanh toán:</h6>
                <h6 class="text-primary fw-semibold">
                  <div class="text-body-secondary mb-0" [ngSwitch]="order?.paymentMethod">
                    <span *ngSwitchCase="0">Thanh toán khi nhận hàng (COD)</span>
                    <span *ngSwitchCase="1">Thanh toán qua VNPAY</span>
                  </div>
                </h6>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <h6 class="text-body fw-normal">Trạng thái thanh toán:</h6>
                <h6 class="text-primary fw-semibold">
                  <span *ngIf="order?.paymentStatus">
                    <i class="far fa-check-circle text-success me-1"></i>
                  </span>
                  <span *ngIf="!order?.paymentStatus">
                    <i class="far fa-times-circle text-danger me-1"></i>
                  </span>
                  <span
                    [ngClass]="{'fw-semibold text-danger': !order?.paymentStatus, 'fw-semibold text-success': order?.paymentStatus}">
                    {{order?.paymentStatus ? 'Đã thanh toán' : 'Chưa thanh toán'}}</span>
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Đơn hàng</h4>
            </div>
            <div class="border-dashed border-bottom border-translucent mt-4 pb-3">
              <div class="ms-n2">
                <div class="row align-items-center mb-2 g-3" *ngFor="let item of order?.orderDetails">
                  <div class="col-7 col-md-7 col-lg-7">
                    <a href="/product/{{item?.productSlug}}" class="text-decoration-none">
                      <div class="d-flex align-items-center">
                        <img class="me-2 ms-1" src="{{baseUrl}}/images/{{item?.productThumbnail}}" width="40" alt="" />
                        <h6 class="fw-semibold text-body-highlight lh-base">
                          <span class="text-primary">{{item?.productName}}</span>
                          <br>
                          <span class="fs-9 fw-semibold" *ngIf="item?.salePrice === null">{{item?.productPrice |
                            currencyFormat:'VND'}}</span>
                          <span class="fs-9" *ngIf="item?.salePrice !== null">
                            <del>{{item?.productPrice | currencyFormat:'VND'}}</del>
                            <span class="ms-2 text-danger-dark fw-semibold">{{item?.salePrice |
                              currencyFormat:'VND'}}</span>
                          </span>
                          <br>
                          <span class="fs-9 text-black-50">{{item?.productColor}} - {{item?.productSize}}</span>
                        </h6>
                      </div>
                    </a>
                  </div>
                  <div class="col-2 col-md-2 col-lg-2">
                    <h6 class="fs-9 mb-0">x{{item?.quantity}}</h6>
                  </div>
                  <div class="col-3 col-md-3 col-lg-3 ps-0">
                    <h6 class="mb-0 fw-semibold text-end">{{item?.totalPrice | currencyFormat:
                      'VND'}}</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="border-dashed border-bottom border-translucent mt-4">
              <div class="d-flex justify-content-between mb-2">
                <h6 class="text-body fw-semibold">Tổng tiền hàng ({{order?.totalQuantity}} sản phẩm) :</h6>
                <h6 class="text-body-emphasis fw-semibold">{{order?.totalMoney | currencyFormat: 'VND'}}</h6>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <h6 class="text-body fw-semibold">Phí vận chuyển :</h6>
                <h6 class="text-body-emphasis fw-semibold">{{order?.total_fee | currencyFormat: 'VND'}}</h6>
              </div>
              <div *ngIf="order?.totalDiscount > 0" class="d-flex justify-content-between mb-3">
                <h6 class="text-body fw-semibold">Khuyến mãi :</h6>
                <h6 class="text-danger fw-semibold">- {{order?.totalDiscount | currencyFormat: 'VND'}}</h6>
              </div>
            </div>
            <div class="d-flex justify-content-between border-dashed-y pt-3">
              <h5 class="mb-0">Thành tiền :</h5>
              <h5 class="mb-0 text-danger">{{order?.totalMoney + order?.total_fee - order?.totalDiscount | currencyFormat: 'VND'}}
              </h5>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Lịch sử đơn hàng</h4>
            </div>
            <div class="mt-4">
              <div class="timeline-vertical">

                <!-- Trả hàng -->

                <div class="timeline-item">
                  <div class="row g-md-3 align-items-center mb-4" *ngIf="order?.orderStatus == 5">
                    <div class="col-12 col-md-auto d-flex">
                      <div class="timeline-item-date text-end order-1 order-md-0 me-md-4">
                        <p class="fs-10 fw-semibold text-body-tertiary mb-0">{{order?.returnDate | date:
                          'dd/MM/yyyy'}}<br class="d-none d-md-block"> {{order?.returnDate | date: 'HH:mm'}}</p>
                      </div>
                      <div class="timeline-item-bar position-relative me-3 me-md-0">
                        <div class="icon-item icon-item-sm bg-success" data-bs-theme="light">
                          <span class="fas fa-check text-white fs-10"></span>
                        </div>
                        <span class="timeline-bar border-end border-success"></span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="timeline-item-content ps-6 ps-md-3">
                        <h5>Đã trả hàng</h5>
                        <p class="fs-9 text-body-secondary mb-0">Đơn hàng đã hoàn trả thành công</p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Giao hàng thành công -->

                <div class="timeline-item" *ngIf="order?.orderStatus >= 3 && order?.orderStatus !==4">
                  <div class="row g-md-3 align-items-center mb-4">
                    <div class="col-12 col-md-auto d-flex">
                      <div class="timeline-item-date text-end order-1 order-md-0 me-md-4">
                        <p class="fs-10 fw-semibold text-body-tertiary mb-0">{{order?.completedDate | date:
                          'dd/MM/yyyy'}}<br class="d-none d-md-block"> {{order?.completedDate | date: 'HH:mm'}}</p>
                      </div>
                      <div class="timeline-item-bar position-relative me-3 me-md-0">
                        <div class="icon-item icon-item-sm bg-success" data-bs-theme="light">
                          <span class="fas fa-check text-white fs-10"></span>
                        </div>
                        <span class="timeline-bar border-end border-success"></span>  
                      </div>
                    </div>
                    <div class="col">
                      <div class="timeline-item-content ps-6 ps-md-3">
                        <h5>Đã giao</h5>
                        <p class="fs-9 text-body-secondary mb-0">Giao hàng thành công</p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Đã hủy hàng -->

                <div class="timeline-item" *ngIf="order?.orderStatus == 4">
                  <div class="row g-md-3 align-items-center mb-4">
                    <div class="col-12 col-md-auto d-flex">
                      <div class="timeline-item-date text-end order-1 order-md-0 me-md-4">
                        <p class="fs-10 fw-semibold text-body-tertiary mb-0">{{order?.cancelDate | date:
                          'dd/MM/yyyy'}}<br class="d-none d-md-block"> {{order?.cancelDate | date: 'HH:mm'}}</p>
                      </div>
                      <div class="timeline-item-bar position-relative me-3 me-md-0">
                        <div class="icon-item icon-item-sm bg-success" data-bs-theme="light">
                          <span class="fas fa-check text-white fs-10"></span>
                        </div>
                        <span class="timeline-bar border-end border-success"></span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="timeline-item-content ps-6 ps-md-3">
                        <h5>Đã hủy</h5>
                        <p class="fs-9 text-body-secondary mb-0">Lý do hủy: {{order?.cancelReason}}</p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Đang giao hàng -->

                <div class="timeline-item" *ngIf="order?.orderStatus >= 2 && order?.deliveryDate ">
                  <div class="row g-md-3 align-items-center mb-4">
                    <div class="col-12 col-md-auto d-flex">
                      <div class="timeline-item-date text-end order-1 order-md-0 me-md-4">
                        <p class="fs-10 fw-semibold text-body-tertiary mb-0">{{order?.deliveryDate | date:
                          'dd/MM/yyyy'}}<br class="d-none d-md-block"> {{order?.deliveryDate | date: 'HH:mm'}}</p>
                      </div>
                      <div class="timeline-item-bar position-relative me-3 me-md-0">
                        <div class="icon-item icon-item-sm bg-success" data-bs-theme="light">
                          <span class="fas fa-check text-white fs-10"></span>
                        </div>
                        <span class="timeline-bar border-end border-success"></span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="timeline-item-content ps-6 ps-md-3">
                        <h5>Đang giao hàng</h5>
                        <p class="fs-9 text-body-secondary mb-0">Đơn hàng đã được bàn giao cho đơn vị vận chuyển</p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Đã xác nhận -->

                <div class="timeline-item" *ngIf="order?.orderStatus >= 1 && order?.confirmDate">
                  <div class="row g-md-3 align-items-center mb-4">
                    <div class="col-12 col-md-auto d-flex">
                      <div class="timeline-item-date text-end order-1 order-md-0 me-md-4">
                        <p class="fs-10 fw-semibold text-body-tertiary mb-0">{{order?.confirmDate | date:
                          'dd/MM/yyyy'}}<br class="d-none d-md-block"> {{order?.confirmDate | date: 'HH:mm'}}</p>
                      </div>
                      <div class="timeline-item-bar position-relative me-3 me-md-0">
                        <div class="icon-item icon-item-sm bg-success" data-bs-theme="light">
                          <span class="fas fa-check text-white fs-10"></span>
                        </div>  
                        <span class="timeline-bar border-end border-success"></span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="timeline-item-content ps-6 ps-md-3">
                        <h5>Đã xác nhận</h5>
                        <p class="fs-9 text-body-secondary mb-0">Người gửi đang chuẩn bị hàng</p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Chờ xác nhận -->

                <div class="timeline-item">
                  <div class="row g-md-3 align-items-center mb-2">
                    <div class="col-12 col-md-auto d-flex">
                      <div class="timeline-item-date text-end order-1 order-md-0 me-md-4">
                        <p class="fs-10 fw-semibold text-body-tertiary mb-0">{{order?.createdDate | date:
                          'dd/MM/yyyy'}}<br class="d-none d-md-block"> {{order?.createdDate | date: 'HH:mm'}}</p>
                      </div>
                      <div class="timeline-item-bar position-relative me-3 me-md-0">
                        <div class="icon-item icon-item-sm bg-success" data-bs-theme="light">
                          <span class="fas fa-check text-white fs-10"></span>
                        </div>  
                      </div>
                    </div>
                    <div class="col">
                      <div class="timeline-item-content ps-6 ps-md-3">
                        <h5>Đặt hàng thành công</h5>
                        <p class="fs-9 text-body-secondary mb-0">Đơn hàng đã được đặt</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 p-lg-0">
        <div class="card mt-3 mt-lg-0">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Hình thức mua hàng</h4>
            </div>
            <div class="pt-4">
              <div *ngIf="!order?.orderType">
                <i class="fas fa-globe me-3 text-primary"></i>
                <span class="fw-semibold fs-9 align-middle">Website</span>
              </div>
              <div *ngIf="order?.orderType">
                <i class="fas fa-map-marker-alt me-3 text-success"></i>
                <span class="fw-semibold fs-9 align-middle">Tại cửa hàng</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body">
            <div class="mt-3 d-flex align-items-center justify-content-between">
              <h5 class="mb-0">Thông tin giao hàng</h5>
            </div>
            <div class="border-dashed border-bottom border-translucent">
              <div class="pt-4">
                <h6 class="fw-bold text-body-secondary mb-2">
                  <span>{{order?.name}}</span>
                </h6>
                <h6 class="fw-normal text-body-secondary mb-2">
                  <span>{{order?.phone}}</span>
                </h6>
                <h6 class="fw-normal text-body-secondary mb-2">
                  <span style="line-height: initial;">{{order?.address}}</span>
                </h6>
              </div>
            </div>
            <div class="mt-3 d-flex align-items-center justify-content-between">
              <h5 class="mb-0">Thông tin đơn vị vận chuyển</h5>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div class="pt-4">
                <h6 class="fw-bold text-body-secondary mb-2">
                  <span>{{order?.carrier_name}}</span>
                </h6>
                <h6 class="fw-normal text-body-secondary mb-2">
                  <span>Loại: {{order?.service}}</span>
                </h6>
              </div>
              <img class="h-100 pt-4 align-middle" src="{{order?.carrier_logo}}"
                  style="width: 60px; height: 60px;" alt="carrier_logo">
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Ghi chú</h4>
            </div>
            <div class="pt-4">
              <h6 class="fw-normal">{{ order?.note ? order.note : 'Không có ghi chú' }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->
</section>

<div class="modal fade" id="tooltipModalCancelOrder" tabindex="-1" aria-labelledby="tooltipModalLabel" style="display: none;"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tooltipModalLabel" #headerModal>Chọn Lý Do Hủy</h5>
        <button class="btn p-1" type="button" (click)="resetForm()" data-bs-dismiss="modal" aria-label="Close">
          <span class="fas fa-times fs-9"></span>
        </button>
      </div>
      <form [formGroup]="cancelOrderForm" (submit)="cancelOrder()">
        <div class="modal-body">
          <div class="form-check">
            <input class="form-check-input" (change)="onRadioChangeReason($event)" formControlName="cancelReason" type="radio" name="cancelReason" id="status1" 
            value="Muốn thay đổi địa chỉ giao hàng">
            <label class="form-check-label" for="status1">Muốn thay đổi địa chỉ giao hàng</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" (change)="onRadioChangeReason($event)" formControlName="cancelReason" type="radio" name="cancelReason" id="status2" 
            value="Muốn thay đổi sản phẩm trong đơn hàng (màu sắc, kích cỡ, số lượng,...)">
            <label class="form-check-label" for="status2">Muốn thay đổi sản phẩm trong đơn hàng (màu sắc, kích cỡ, số lượng,...)</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" (change)="onRadioChangeReason($event)" formControlName="cancelReason" type="radio" name="cancelReason" id="status3" 
            value="Thủ tục thanh toán quá rắc rối">
            <label class="form-check-label" for="status3">Thủ tục thanh toán quá rắc rối</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" (change)="onRadioChangeReason($event)" formControlName="cancelReason" type="radio" name="cancelReason" id="status4" 
            value="Tìm thấy giá rẻ hơn ở chỗ khác">
            <label class="form-check-label" for="status4">Tìm thấy giá rẻ hơn ở chỗ khác</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" (change)="onRadioChangeReason($event)" type="radio" name="cancelReason" id="status5"
            value="otherReason">
            <label class="form-check-label" for="status5">Lý do khác</label>
          </div>
          <textarea class="form-control ms-4 d-none" style="max-width: -webkit-fill-available;"
          (input)="inputOtherReason($event)" cols="10" rows="2" #textAreaOrtherReason></textarea>          
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" [disabled]="cancelOrderForm.invalid">Đồng ý</button>
          <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal" (click)="resetForm()" #btnCloseModal>Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>