<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a [routerLink]="['/admin']">Trang chủ</a></li>
    <li class="breadcrumb-item active">Quản lý sản phẩm</li>
  </ol>
</nav>
<div class="mb-9">
  <div class="row g-2 mb-4">
    <div class="col-auto">
      <h2 class="mb-0">Quản lý sản phẩm</h2>
    </div>
  </div>
  <ul class="nav nav-links mb-3 mb-lg-2 mx-n3">
    <li class="nav-item">
      <button class="nav-link" [class.active]="enabled === ''" aria-current="page" (click)="findByEnabled('')">
        <span>Tất cả </span>
        <span class="text-body-tertiary fw-semibold">({{total}})
          <span [class.d-none]="enabled !== ''"><i class="fas fa-check"></i></span>
        </span>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [class.active]="enabled === 'true'" (click)="findByEnabled('true')">
        <span>Hiện </span>
        <span class="text-body-tertiary fw-semibold">({{totalEnabled}})
          <span [class.d-none]="enabled !== 'true'"><i class="fas fa-check"></i></span></span>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [class.active]="enabled === 'false'" (click)="findByEnabled('false')">
        <span>Ẩn </span>
        <span class="text-body-tertiary fw-semibold">({{totalDisabled}})
          <span [class.d-none]="enabled !== 'false'"><i class="fas fa-check"></i></span></span>
      </button>
    </li>
  </ul>
  <div>
    <div class="mb-4">
      <div class="row g-3">
        <div class="col-auto">
          <div class="search-box">
            <input class="form-control search-input search" type="search" placeholder="Tìm kiếm sản phẩm"
              aria-label="Search" [(ngModel)]="search" (input)="searchItem()" spellcheck="false" />
            <span class="fas fa-search search-box-icon"></span>
          </div>
        </div>
        <div class="col-auto scrollbar overflow-hidden-y flex-grow-1">
          <div class="btn-group position-static" role="group">
            <div *ngIf="products.length > 0" class="btn-group position-static" role="group">
              <button class="btn btn-phoenix-secondary flex-shrink-0 ps-3 pe-3" (click)="handleSuccess()">
                <span class="fas fa-times fs-9 me-2"></span>Đã chọn {{products.length}} mục</button>
              <button class="btn btn-phoenix-secondary flex-shrink-0 ps-3 pe-3" (click)="updateListStatus(true)">
                <span class="fas fa-toggle-on me-2"></span>Hiện</button>
              <button class="btn btn-phoenix-secondary flex-shrink-0 ps-3 pe-3" (click)="updateListStatus(false)">
                <span class="fas fa-toggle-off me-2"></span>Ẩn</button>
              <button class="btn btn-phoenix-secondary flex-shrink-0 ps-3 pe-3" (click)="deletelist()">
                <span class="fas fa-trash me-2"></span>Xóa</button>
            </div>
            <div *ngIf="products.length <= 0" class="btn-group position-static" role="group">
              <button class="btn btn-phoenix-secondary flex-shrink-0 ps-3 pe-3" (click)="clearAllParams()">
                <span class="fas fa-redo me-2"></span>Làm mới</button>
            </div>
          </div>
        </div>
        <div class="col-auto ms-auto">
          <a class="btn btn-primary" type="button" [routerLink]="['/admin/product/save']">
            <span class="fas fa-plus me-2"></span>
            Thêm sản phẩm
          </a>
        </div>
      </div>
    </div>
    <div class="px-4 px-lg-6 bg-body-emphasis border border-translucent position-relative top-1">
      <div class="table-responsive scrollbar-overlay mx-n1 px-1">
        <table class="table fs-9 mb-0">
          <thead>
            <tr>
              <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">
                <div class="form-check mb-0 fs-8">
                  <!-- <input class="form-check-input" type="checkbox" (change)="toggleSelectAll()" #checkAll/> -->
                </div>
              </th>
              <th class="sort white-space-nowrap align-middle fs-10" scope="col" style="width:70px;"></th>
              <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:350px;"
                (click)="changeSort('name')">
                TÊN SẢN PHẨM
                <span *ngIf="iconClass('name') === 0">
                  <i class="fas fa-sort fa-xs"></i>
                </span>
                <span *ngIf="iconClass('name') === 1">
                  <i class="fas fa-sort-down fa-xs"></i>
                </span>
                <span *ngIf="iconClass('name') === 2">
                  <i class="fas fa-sort-up fa-xs"></i>
                </span>
              </th>
              <th class="sort align-middle text-end ps-4" scope="col" style="width:250px;" nowrap
                (click)="changeSort('price')">
                GIÁ BÁN
                <span *ngIf="iconClass('price') === 0">
                  <i class="fas fa-sort fa-xs"></i>
                </span>
                <span *ngIf="iconClass('price') === 1">
                  <i class="fas fa-sort-down fa-xs"></i>
                </span>
                <span *ngIf="iconClass('price') === 2">
                  <i class="fas fa-sort-up fa-xs"></i>
                </span>
              </th>
              <th class="sort align-middle ps-4 text-end" scope="col" style="width:100px;" nowrap>HIỆN CÓ
              </th>
              <th class="sort align-middle ps-4" scope="col" style="width:220px;" nowrap (click)="changeSort('categoryName')">
                DANH MỤC
                <span *ngIf="iconClass('categoryName') === 0">
                  <i class="fas fa-sort fa-xs"></i>
                </span>
                <span *ngIf="iconClass('categoryName') === 1">
                  <i class="fas fa-sort-down fa-xs"></i>
                </span>
                <span *ngIf="iconClass('categoryName') === 2">
                  <i class="fas fa-sort-up fa-xs"></i>
                </span>
              </th>
              <th class="sort align-middle ps-4" scope="col" style="width:220px;" nowrap (click)="changeSort('brandName')">
                THƯƠNG HIỆU
                <span *ngIf="iconClass('brandName') === 0">
                  <i class="fas fa-sort fa-xs"></i>
                </span>
                <span *ngIf="iconClass('brandName') === 1">
                  <i class="fas fa-sort-down fa-xs"></i>
                </span>
                <span *ngIf="iconClass('brandName') === 2">
                  <i class="fas fa-sort-up fa-xs"></i>
                </span>
              </th>
              <th class="sort align-middle ps-4" scope="col" style="width:50px;">HIỆN</th>
              <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
            </tr>
          </thead>
          <tbody class="list" id="products-table-body">
            <tr class="position-static" *ngFor="let product of paginationModel.content">
              <td class="fs-9 align-middle">
                <div class="form-check mb-0 fs-8">
                  <input class="form-check-input" type="checkbox" [checked]="isSelected(product)"
                    (change)="onCheckboxChange(product)" />
                </div>
              </td>
              <td class="align-middle white-space-nowrap py-0 pb-3 pt-3">
                <a class="d-block border border-translucent rounded-2">
                  <img src="{{baseUrl}}/images/{{product.thumbnail}}" alt="" width="53" height="53"
                    style="object-fit: contain;" />
                </a>
              </td>
              <td class="align-middle ps-4 text-truncate">
                <a class="fw-semibold line-clamp-3 mb-0" href="/admin/product/{{product.id}}">{{product.name}}</a>
              </td>
              <td class="align-middle white-space-nowrap text-end fw-bold text-body-tertiary ps-4">
                {{ product.price | currency:'VND':true:'1.0-0' }}</td>
              <td class="tags align-middle review ps-4 text-end" style="min-width:100px;">
                {{product.totalQuantity}}
              </td>
              <td class="align-middle white-space-nowrap text-body-quaternary fs-9 ps-4 fw-semibold">
                {{product.categoryName}}</td>
              <td class="align-middle white-space-nowrap text-body-quaternary fs-9 ps-4 fw-semibold">
                {{product.brandName}}</td>
              <td class="align-middle white-space-nowrap ps-4 pe-5">
                <div class="form-switch">
                  <input class="form-check-input" type="checkbox" [checked]="product.enabled"
                    (input)="changeSwitch(product)" />
                </div>
              </td>
              <td class="align-middle white-space-nowrap text-end pe-0 ps-4 btn-reveal-trigger">
                <span (click)="update(product.id)">
                  <span class="fas fa-edit me-2"></span>
                </span>
                <span (click)="delete(product.id)">
                  <span class="fas fa-trash"></span>
                </span>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="paginationModel.totalElements == 0">
            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
              <td colspan="8" class="fs-9 align-middle ps-0 py-3 text-center">
                <span>Không có bản ghi nào</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
        <div class="col-auto d-flex mt-1">
          <div class="d-flex align-items-center justify-content-center justify-content-md-start">
            <select class="form-select form-select-sm form-select-solid"
              (change)="changePageSize(paginationModel.pageSize)" [(ngModel)]="paginationModel.pageSize">
              <option value="5" [selected]="paginationModel.pageSize === 5">5</option>
              <option value="10" [selected]="paginationModel.pageSize === 10">10</option>
              <option value="25" [selected]="paginationModel.pageSize === 25">25</option>
              <option value="50" [selected]="paginationModel.pageSize === 50">50</option>
              <option value="100" [selected]="paginationModel.pageSize === 100">100</option>
              <option *ngIf="paginationModel.totalElements > 100" [value]="paginationModel.totalElements"
                [selected]="paginationModel.pageSize === paginationModel.totalElements">
                Tất cả ({{paginationModel.totalElements}})
              </option>
            </select>
          </div>
          <div class="col-auto d-flex align-items-center">
            <p class="mb-0 ms-2 d-none d-sm-block me-3 fw-semibold text-body">Hiển thị
              {{paginationModel.startNumberItem}} đến
              {{paginationModel.endNumberItem}}
              <span class="text-body-tertiary"> mục trong tổng số </span>{{paginationModel.totalElements}} mục
            </p>
          </div>
        </div>
        <div class="col-auto d-flex mt-1">
          <button class="page-link" [ngClass]="{'disabled': paginationModel.pageFirst}" (click)="changePageNumber(1)">
            <i class="fas fa-angle-double-left"></i>
          </button>
          <ul class="mb-0 pagination">
            <li class="page-item" *ngFor="let page of paginationModel.pageNumbers"
              [class.active]="page === paginationModel.pageNumber">
              <button type="button" class="page-link" (click)="changePageNumber(page)">{{page}}</button>
            </li>
          </ul>
          <button class="page-link pe-0" [ngClass]="{'disabled': paginationModel.pageLast}"
            (click)="changePageNumber(paginationModel.totalPages)">
            <i class="fas fa-angle-double-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>